[2021-06-03 15:17] akshatvirmani opened #5 "Enhancing Readme file"
I would like to work on this issue. Kindly assign this to me under LGM SOC.

[2021-06-05 05:46] rockingrohit9639 commented on #5
Hey @akshatvirmani
You can surely work on it. But I would like to let you know that your PRs before the 10th of June will not be counted.

[2021-06-05 12:47] akshatvirmani commented on #5
Okay

[2021-06-07 12:52] ShwetKhatri2001 opened #6 "Adding SignUp material ui component"
We can add Sign Up material ui component having react states handling to take data from the user who want to signup/login using email and password.

I would like to work on this issue during LGM-SOC contribution period.

[2021-06-07 14:30] SamikshaSankar opened #7 "Top button"
Adding top-button
Please assign me @rockingrohit9639

[2021-06-07 14:41] SamikshaSankar opened #8 "Changes style of cards"
Making zoom on hover

I work on this issue under LGM-SOC'21 participant..please assigned me @rockingrohit9639

[2021-06-07 14:49] SamikshaSankar opened #9 "Trigger Button"
Click on Enter Key Press in search bar

Please assign @rockingrohit9639

[2021-06-08 01:49] rockingrohit9639 commented on #9
Ok @SamikshaSankar I will assign you as soon as the program starts.

[2021-06-08 16:41] SamikshaSankar opened #10 "Navbar"
Sticky Navbar &  changes style of login button

please assign @rockingrohit9639

[2021-06-09 16:00] Aayushpatil77 opened #11 "Improve the frontend code"
Can I work on this issue??

[2021-06-09 16:16] SamikshaSankar opened #12 "Size of Add new project page"
Can we decreased the width of the box

[2021-06-09 17:28] Rutuj-Runwal opened #13 "Dark Mode Toggle"
- Adding a Dark-Mode toggle switch to the site

[2021-06-09 17:28] Rutuj-Runwal commented on #13
Please assign @rockingrohit9639
This Issue is a part of my contribution towards LGM-SOC'21

[2021-06-09 17:34] Rutuj-Runwal opened #14 "Changes in "Add New Project""
- [ ] Instead of typing in the "Project Level", Adding in a dropdown to select the Level Eg:"Intermediate"," Beginner" etc....
- [x] Addition of additional non mandatory fields to add links for reference eg: Github Repo , Working Website Demo for appropriate projects

Please Assign @rockingrohit9639
This Issue is a part of my contribution towards LGM-SOC'21

[2021-06-09 17:42] rockingrohit9639 commented on #5
Hey @akshatvirmani Now, you can start working on this issue. Make sure you complete it in 3 days.

[2021-06-09 17:44] rockingrohit9639 commented on #6
Hey @ShwetKhatri2001 you can start working on this issue. Make sure you complete it in 5 days.

[2021-06-09 17:46] rockingrohit9639 commented on #7
Hey @SamikshaSankar I have assigned you this issue. You can work on it now. Make sure you complete it in 3 days.

And yeah, I will assign you for your other issues as soon as you complete the old ones.

[2021-06-09 17:49] rockingrohit9639 commented on #11
Yes @Aayushpatil77 bro, you can work on this issue. Make sure you complete it in 4 days.

[2021-06-09 17:52] rockingrohit9639 commented on #13
I have assigned you this issue. Make sure you complete it in 6 days.

[2021-06-09 17:54] rockingrohit9639 opened #15 "Create PR and Issue templates"
Create Issue and PR templates for the repo.

[2021-06-09 18:01] naveen8801 commented on #15
Hii @rockingrohit9639 , I'd like to work on it, can you assign it to me please :)

[2021-06-09 18:08] rockingrohit9639 commented on #15
You can start working on it now. Make sure you complete it in 3 days.

[2021-06-09 18:43] naveen8801 commented on #15
@rockingrohit9639 I have made a PR, please review it :)

[2021-06-09 18:56] sudeepshukla930 commented on #5
Hey @rockingrohit9639 ,
Can i update readme for this project ??

[2021-06-10 02:45] mayankmohak opened #17 "Footer for project zone Website"
Can I get the issue?

Footer will have name and details of project admin @rockingrohit9639

[2021-06-10 03:16] Veeresh-Rex opened #18 "Search projects by hitting enter on Homepage"
Hey, I am LGM-SOC 21 participant. I want to change in searching on homepage by hitting Enter.
@rockingrohit9639  please assign me this issue.

[2021-06-10 04:06] rockingrohit9639 commented on #5
yes, sure

[2021-06-10 04:07] rockingrohit9639 commented on #18
Bro, I think someone has already created an issue for the same. I will let you know if they do not complete that.

[2021-06-10 04:09] rockingrohit9639 commented on #17
It would be great if you create a footer. But instead of adding my details, write - Made with ❤️ by open source contributors.

I have assigned you this issue. Make sure you complete it in 5 days.

[2021-06-10 04:22] rockingrohit9639 opened #19 "Create a server"
Create a server in NodeJs in our project to save User data and some other info.

[2021-06-10 04:23] mayankmohak commented on #19
i will love work on it

[2021-06-10 06:08] supzi-del opened #21 "Add a zoom-in on hover effect on projects"
When the project cards are hovered upon, a zoom-in transition can be added for a nice effect and feel.

Please assign this to me under LGM SOC'21.

[2021-06-10 06:29] akshatvirmani opened #22 "To add contributor's name in README file."
## Describe the bug/feature

Adding contributor's name in Readme file

[2021-06-10 06:31] #11 closed

[2021-06-10 06:32] rockingrohit9639 commented on #22
You can work on this issue. Make sure you complete it in 3 days.

[2021-06-10 06:34] rockingrohit9639 commented on #21
Someone has already created the same issue

[2021-06-10 06:37] supzi-del commented on #21
Oh okay! If the issue is not solved, you can get back to me :)

[2021-06-10 06:45] rockingrohit9639 commented on #19
Thank you @mayankmohak bro, I will assign you this issue as soon as you completed the other one.

[2021-06-10 06:45] rockingrohit9639 commented on #21
Yeah sure, Thank you @supzi-del

[2021-06-10 06:46] naveen8801 opened #23 "Feature - Share button feature for project card"
## Describe the bug/feature

Adding a feature i.e share button for each project card, with help of that share button one can share a particular project idea to different social platforms like LinkedIn, WhatsApp, Reddit, and many more

## Expected behavior

A share icon should be present on the project card when the user clicks on it a list of different social platforms will appear, and thus we can

[2021-06-10 06:47] naveen8801 commented on #23
Hi @rockingrohit9639, i'd like to work on it as LGM Soc participant, please assign :))

[2021-06-10 07:04] rockingrohit9639 commented on #15
thank you @naveen8801

[2021-06-10 07:04] #15 closed

[2021-06-10 07:06] rockingrohit9639 commented on #23
That's a great idea. I am assigning you this issue. Make sure you complete it in 6 days.

[2021-06-10 07:10] naveen8801 commented on #23
Thanks @rockingrohit9639 :))

[2021-06-10 07:24] rockingrohit9639 opened #24 "Create a landing page"
## Describe the bug/feature

Create a landing page for the project.
The landing page should be responsive.
Add a title and subtitle.

[2021-06-10 07:45] rockingrohit9639 opened #25 "Add a navigation bar"
## Describe the bug/feature

Create a responsive navigation bar.

The menu should include the following nav-links for now

- Home (landing page)
- Find Projects (page for searching the projects)
- Login
- About (keep the link # for now because there is no about us page)
- Contact

It should look something like below ⬇️

![image](https://user-images.githubusercontent.com/40729749/122503201-a4a37b00

[2021-06-10 07:49] Hardikpoudel commented on #10
So we need to make navbar sticky at the top even after scrolling the page?
I'ld like to perform the task

[2021-06-10 07:53] Hardikpoudel commented on #14
I'ld like to work on this issue

[2021-06-10 07:53] rockingrohit9639 commented on #10
@Hardikpoudel  bro, this issue is created by another participant. She has right on it.
You can comment on issues created by me or you can create new ones.

[2021-06-10 07:57] Rutuj-Runwal commented on #14
@Hardikpoudel Actually I am working on this issue.

[2021-06-10 08:00] remote007 commented on #24
I'd like to work on this issue under label LGMSOC21.

[2021-06-10 08:01] remote007 commented on #25
I'd like to work on this issue under label LGMSOC21.

[2021-06-10 08:08] Hardikpoudel commented on #14
ok i'll choose next one then

[2021-06-10 08:09] rockingrohit9639 commented on #24
I am assigning you this issue. Make sure you complete it in 6 days.

[2021-06-10 08:14] rockingrohit9639 commented on #14
@Hardikpoudel bro, I will assign you this issue when you complete the previous one. And yeah, don't add code of both issues in one PR.

[2021-06-10 08:14] rockingrohit9639 commented on #14
@Rutuj-Runwal  bro, I will assign you this issue when you complete the previous one. And yeah, don't add the code of both issues in one PR.

[2021-06-10 08:16] rockingrohit9639 opened #26 "Different colors for different skills"
Do add some different colors to different skills shown at the bottom of the project card.

[2021-06-10 08:43] #5 closed

[2021-06-10 08:47] rockingrohit9639 opened #28 "Edit Welcome bot file"
Edit the welcome bot file i.e. config.yml in . github folder. Add description about the project for both issue and pr.

[2021-06-10 08:58] Veeresh-Rex opened #29 "Add select feature at project level"
Hey, I am LGMSOC21 participant. I want to change project level input field to select ui.

The Select Option are:-

1. Beginner
2. Intermediate
3. Advanced

@rockingrohit9639  Please assign me this work.

[2021-06-10 09:04] rockingrohit9639 commented on #29
Ok @Veeresh-Rex you can work on it.

[2021-06-10 09:13] akshatvirmani commented on #28
I would like to work on this issue. Kindly assign this to me.

[2021-06-10 09:26] akshatvirmani opened #31 "Adding Code of Conduct.md file"
## Describe the bug/feature
 To add code of conduct file for contributors.

[2021-06-10 09:27] rockingrohit9639 commented on #31
Ok @akshatvirmani I will assign you this issue once you complete the other ones.

[2021-06-10 13:39] Hardikpoudel commented on #26
Can i work on this issue as LGMSOC participants?

[2021-06-10 13:52] hr1shu opened #33 "To add CONTRIBUTING_GUIDELINES file."
## Describe the bug/feature

It'll help newbies like me to get familiar with the basics of contributing factors. I'll be attaching cheat sheets for every stuffs too.

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.
4.

## Expected behavior

It'll be a markdown file with clear, concise, and relevant info.

## Logs

If applicable, add logs to help explain your problem (e.g. the error mes

[2021-06-10 14:44] ShwetKhatri2001 opened #34 "storing login/signup userdata to reducerstate by dispatching actions"
I am working on issue #6.

I would also like to handle states for login and signup pages and store userdata to reducer state by dispatching actions.
So that we can have currently logged in user's data at root level , who signed up / logged in using email.

Assign this issue @rockingrohit9639 . I will be contributing under LGM-SOC.

[2021-06-10 15:26] akshatvirmani commented on #31
Can I work on this issue now?

[2021-06-10 15:31] naveen8801 commented on #23
Hi @rockingrohit9639, i have made a PR, please review :))

[2021-06-10 16:32] #29 closed

[2021-06-10 20:31] mayankmohak commented on #19
can you please elaborate over the process.

[2021-06-10 20:32] mayankmohak commented on #17
@rockingrohit9639  have a review i have made changes

[2021-06-11 03:58] Veeresh-Rex opened #39 "Add chips in project skills"
Hey, I am LGM-SOC21 participant.

### What i want to change

- I want to add chips to project skill while adding new project.
- Chips data contains some famous Tech and user can select that chips if their Tech meets.
- Not mention tech can be also add using chip input.

@rockingrohit9639  I'd love to work on it.

[2021-06-11 04:46] rockingrohit9639 commented on #39
Hey @Veeresh-Rex I have assigned you this issue. Make sure you complete it in 5 days.

[2021-06-11 04:54] rockingrohit9639 commented on #19
Just create a folder named "sercer" in root and all the necessary files in server. Later we will add mongodb and will add all the user data and other infoa into it.

[2021-06-11 04:59] rockingrohit9639 commented on #34
Hi @ShwetKhatri2001 you can work on this issue but make sure you make different pull requests for different issues. Don't merge the code of two issues into one. Whenever you complete previous issue I will assign you with this one.

[2021-06-11 05:00] rockingrohit9639 commented on #33
It would be very helpful. I am assigning you this issue. Make sure you complete it in 4 days.

[2021-06-11 05:03] #23 closed

[2021-06-11 05:09] naveen8801 opened #41 "Feature - Rating System & Trending Projects Section"
## Describe the bug/feature

Every user can rate a particular project out of 5 star and hence trending project ideas can be shown in trending project section.

## Expected behavior

- Each project card has a new option of Rate it
- Each project card showing overall ratings
- Trending project section on homepage

@rockingrohit9639 I'd like to work on it as LGM SOC participant, please assign it to m

[2021-06-11 05:30] ShwetKhatri2001 commented on #34
Sure, I will make a PR for issue #6 first.

[2021-06-11 05:36] naveen8801 opened #42 "Documentation - Add MIT license"
## Describe the bug/feature

Public repositories on GitHub are often used to share open-source software. For your repository to truly be open source, you'll need to license it so that others are free to use, change, and distribute the software. Therefore adding a MIT license is good option for this project.

## Expected behavior

Add a LICENSE file in root of project repo

## Additional context

R

[2021-06-11 06:21] mayankmohak commented on #42
i want to work on this. LGMSOC21

[2021-06-11 07:14] Ayushgup85 commented on #25
Is this issue still open? If open, can I work on this issue.

[2021-06-11 07:21] hr1shu commented on #33
Thanks a lot.
On it boss!!

[2021-06-11 07:37] rockingrohit9639 commented on #42
I have assigned you this issue. You can go ahead and add the LICENSE file.

[2021-06-11 07:38] naveen8801 commented on #42
Hey @rockingrohit9639 please assign this one to @mayankmohak, I am looking upon #41

[2021-06-11 07:44] #7 closed

[2021-06-11 08:00] #17 closed

[2021-06-11 08:08] rockingrohit9639 commented on #42
Ohh great. I am assigning this issue to @mayankmohak

Hey @mayankmohak you can work on this issue now. Make sure you complete it in 3 days.

[2021-06-11 08:11] rockingrohit9639 commented on #8
Hey, @SamikshaSankar I have assigned you this issue. You are given 3 days to complete this issue.

[2021-06-11 08:13] rockingrohit9639 commented on #25
@Ayushgup85 bro, she is working on her other issue whenever she completes another one she will start working on it

[2021-06-11 09:27] Ayushgup85 commented on #25
Okk

[2021-06-11 12:40] Deepak735 commented on #8
i want to work on this issue as an LGMSOC participant. Plz assign it to me

[2021-06-11 12:54] #28 closed

[2021-06-11 12:55] #42 closed

[2021-06-11 13:09] #33 closed

[2021-06-11 17:59] naveen8801 commented on #41
Hi @rockingrohit9639, I have made a PR, please review 😃

[2021-06-11 18:06] naveen8801 opened #48 "Documentation - Add Badges in readme"
## Describe the bug/feature

Add the following badges in the readme file on top:
- Issue count
- Star count
- Fork count
- License
- Slack channel link

on click, these badges should open respective pages

## Additional context

shields.io can be used for generating the badges.

[2021-06-12 02:06] RiyaGupta89 commented on #48
I can add badges in the readme.md file. Please assign me this issue under LGMSOC'21.

[2021-06-12 02:07] RiyaGupta89 commented on #31
May I work on this issue please?

[2021-06-12 02:08] RiyaGupta89 commented on #26
May I work on this issue please?

[2021-06-12 02:11] RiyaGupta89 opened #49 "Create Footer"
Footer is missing in the website. Can I add footer please?

[2021-06-12 03:00] rockingrohit9639 commented on #26
@RiyaGupta89 you can start working on it, make sure you complete it in 6 days.

[2021-06-12 03:17] #22 closed

[2021-06-12 03:20] rockingrohit9639 commented on #31
Yes @akshatvirmani you can work on this issue. Make sure you do it in 3 days.

[2021-06-12 03:21] rockingrohit9639 commented on #31
Sorry, @RiyaGupta89 he asked first. I just forgot to assign him this issue before.

[2021-06-12 03:26] #6 closed

[2021-06-12 03:33] rockingrohit9639 commented on #19
sorry @mayankmohak bro, I forgot to assign you this issue. Your time will be counted from now. You can let me know if you are having any problems with this issue.

[2021-06-12 03:35] rockingrohit9639 commented on #19
Hey @mayankmohak bro, I am assigning you this issue now. You can start working on it. Do let me know if you having any problems fixing this issue. You are given 6 days to complete this.

And also please use Express as backend

[2021-06-12 03:36] #41 closed

[2021-06-12 03:54] ShwetKhatri2001 commented on #34
@rockingrohit9639 I would like to work on this issue now, my PR for issue #6 has been merged, you can assign.

[2021-06-12 04:06] rockingrohit9639 commented on #34
Hey @ShwetKhatri2001 bro, You can start working on this issue now. You are given 4 days to complete this.

[2021-06-12 04:08] rockingrohit9639 opened #50 "Limit description of projects"
Limit the description of the project card to come specific word count. After some specific word count add ... at the end.

[2021-06-12 04:12] rockingrohit9639 commented on #48
hey @naveen8801 bro, you can start working on this issue. Make sure you fix this in 4 days.

[2021-06-12 04:38] rockingrohit9639 commented on #49
hey @RiyaGupta89 footer is already added by another contributor. Sorry I am closing this issue

[2021-06-12 04:39] #49 closed

[2021-06-12 05:10] #48 closed

[2021-06-12 05:11] naveen8801 commented on #50
@rockingrohit9639  I'd like to work on it, please assign :-))

[2021-06-12 05:12] rockingrohit9639 commented on #50
You can start working on this issue. Make sure you complete it in 4 days.

[2021-06-12 05:14] naveen8801 commented on #50
@rockingrohit9639  Should I put a limit upto 50 characters?

[2021-06-12 05:15] rockingrohit9639 commented on #50
Totally up to you. It should look fine.

[2021-06-12 05:17] naveen8801 commented on #50
okay @rockingrohit9639 👍

[2021-06-12 05:21] rockingrohit9639 opened #52 "Add separate page to see full project"
Add a separate page to view the full project and a "Read More" button on the project cards.
When a user clicks on the "Read More" button it should navigate to a new page and show all the details and full description of the project.

[2021-06-12 06:05] RiyaGupta89 commented on #26
Sure, thankyou.

[2021-06-12 06:16] naveen8801 commented on #52
@rockingrohit9639  I'd like to work on it, please elaborate about details which should be present on a particular project page :-))

[2021-06-12 06:19] naveen8801 commented on #50
hi @rockingrohit9639, i have made a PR, please review 😃

[2021-06-12 07:13] RiyaGupta89 commented on #26
Hey, you want one particular color for one particular skill or different color and different and same skill?

[2021-06-12 07:26] rockingrohit9639 commented on #26
Colors like -
reactjs - blue
python - yellow etc.

[2021-06-12 07:32] RiyaGupta89 commented on #26
![color](https://user-images.githubusercontent.com/72425181/121768868-3296e600-cb7e-11eb-94ef-5251ec9864bd.png)
Please check this out, I did like this. But if you don't like it and want me to only use four to five color, basically one color for one language then I'll change it. Let me know.

[2021-06-12 07:44] rockingrohit9639 commented on #26
I think it will look better if we have particular color for the particular skill

[2021-06-12 07:46] #13 closed

[2021-06-12 07:57] Rutuj-Runwal commented on #14
@rockingrohit9639 Can I work on this now?

[2021-06-12 08:00] rockingrohit9639 commented on #14
Yes @Rutuj-Runwal bro, you can start working on this issue. Dropdown for project level is already added but you can add your second suggestions. You are given 6 days to complete it.

[2021-06-12 08:12] RiyaGupta89 commented on #26
Yes, I completed that.

[2021-06-12 08:16] #50 closed

[2021-06-12 10:57] ghost commented on #52
I would like to work on this issue

[2021-06-12 18:13] SamikshaSankar commented on #8
@rockingrohit9639 is it ok?
![d](https://user-images.githubusercontent.com/52104082/121785533-e2e50880-cbd7-11eb-83c6-1e9346a17173.jpeg)

[2021-06-13 01:55] mayankmohak commented on #19
Creating server in root `project-zone` folder will give error due to frontend node module. please mention the which root you were telling about.

[2021-06-13 02:59] #52 closed

[2021-06-13 03:03] #26 closed

[2021-06-13 03:05] rockingrohit9639 commented on #8
Styling is totally up to you. But make sure you pull all the changes from upstream before creating the PR otherwise it will lead to some issues.

[2021-06-13 03:40] naveen8801 commented on #19
Hi @mayankmohak, can you please show us the error you are facing, any screenshot? I have tried to do this locally and there is no issue I found, look at it below,

![Screenshot (84)](https://user-images.githubusercontent.com/54985099/121794751-91189e80-cc28-11eb-8f96-6d6bb26a21b1.png)

Steps I followed:-
- Made a dir named server in the root of project.
- cd server
- npm init
- After providing cer

[2021-06-13 03:52] rockingrohit9639 commented on #19
yup bro, I told him how to do it.

[2021-06-13 04:02] #39 closed

[2021-06-13 04:06] Veeresh-Rex opened #59 "A bug after changing search query"
## Describe the bug/feature
After searching a project, if I click  'let us decide a project for you'. I shows a random project for me. and if again I change the search query, the the previous result doesn't remove.

## Expected behavior

Whenever user change the search query , the previous 'let us decide a project for you' result should be remove

[2021-06-13 04:07] Veeresh-Rex commented on #59
Hey @rockingrohit9639  I want to work on this issue as a LGMSOC21 participant.

[2021-06-13 04:07] mayankmohak commented on #19
thankyou @naveen8801 and @rockingrohit9639 have made the PR

[2021-06-13 04:20] rockingrohit9639 commented on #59
Hey @Veeresh-Rex Thank you for finding a bug in our project. I have assigned you this issue. You are given 3 days to resolve this.

[2021-06-13 04:50] #19 closed

[2021-06-13 04:58] naveen8801 opened #61 "Proper Folder Structure for Backend"
## Describe the bug/feature

Make proper folder structure for backend (server dir.) similar to the screenshot below:

## Expected behavior

![folder strucutre](https://user-images.githubusercontent.com/54985099/121795839-f8871c00-cc31-11eb-82dd-25bdb1351ed2.gif)

@rockingrohit9639, I'd like to work on it, please assign :-)

[2021-06-13 05:05] rockingrohit9639 commented on #61
you can work on it

[2021-06-13 09:23] #31 closed

[2021-06-13 10:43] rockingrohit9639 opened #63 "Add authentication"
## Feature

Add authentication in our app for login user and signup user.

For /signup - add user's email and password in db and do necessary stuff

For /login - verify user's email and password and return necessary user's data

Contact me for db uri and othrr details

[2021-06-13 12:04] naveen8801 commented on #63
Hi @rockingrohit9639, I'd like to work on it, please assign 😃

[2021-06-13 12:11] #8 closed

[2021-06-13 12:15] #61 closed

[2021-06-13 12:16] rockingrohit9639 commented on #63
Hey @naveen8801 you can start working on this issue.

[2021-06-13 12:26] rockingrohit9639 commented on #9
Hey, @SamikshaSankar you can start working on this issue now. Make sure you complete this issue in 5 days.

[2021-06-14 11:19] pallavi-1812 opened #66 "Making trending projects section responsive"
## Describe the bug/feature

The section about trending projects is not responsive. I would like to make it responsive on small screens. Please assign me this issue
![Annotation 2021-06-14 164716](https://user-images.githubusercontent.com/67572675/121884398-7cbfc900-cd30-11eb-8388-205a7c1e0079.png)

[2021-06-14 12:16] kanak22 commented on #66
Go Ahead :) Make sure to complete it in 5 days.

[2021-06-14 15:45] Shaishav0507 opened #68 "Add Code of conduct, contribution guidelines and license in readme file."
## Describe the bug/feature

Hey @rockingrohit9639
I would like to add code of conduct, license and contribution guidelines in readme file.
As they are present in branch but not linked in readme file.
Please assign it to me.
Thanks

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.
4.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If appl

[2021-06-14 16:01] #34 closed

[2021-06-14 18:04] kanak22 commented on #68
Go ahead  :)

[2021-06-15 11:01] Rishabhraghwendra18 commented on #12
Hi. May I work on this issue

[2021-06-15 14:54] #66 closed

[2021-06-15 17:43] supzi-del opened #71 "Design a logo for Project Zone"
## Describe the bug/feature

I want to design a logo to add in the nav bar near the title Project Zone.

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

## Logs

## Environment (please complete the following information):

- OS:
- Browser:

## Additional context

[2021-06-15 18:42] kanak22 commented on #71
@supzi-del  Go ahead :)

[2021-06-15 20:24] ShwetKhatri2001 commented on #24
I would like to work on this issue whenever it is possible

[2021-06-16 02:59] rockingrohit9639 commented on #24
Hey @PadminiRai Remainder !!! This is your last day to submit your code otherwise this issue will be assigned to someone else.

[2021-06-16 04:42] rockingrohit9639 opened #72 "Change Project Card style"
Change the styling of the Project Card to something below

![image](https://user-images.githubusercontent.com/40729749/122158819-e05e0980-ce8a-11eb-90f6-dd2e77ec6767.png)

[2021-06-16 04:43] WebVishal opened #73 "Adding more project ideas in JavaScript & MERN Stack and Trending Section"
hi, I'm Vishal, I want to contribute to this project  I looking at this project after that I Realised we should need some more project adding regarding JavaScript & React  like AgeCalculator, Sanke Game, Battery Level, CaptchaValidator, etc

If you like this idea then please assign me, I want to contribute as a participant of LGMSOC'21

[2021-06-16 04:47] WebVishal commented on #72
please assign me I want to work under LGMSOC'21 as a participant

[2021-06-16 04:54] rockingrohit9639 commented on #72
You can start working on this issue. You are given 6 days to complete this.

[2021-06-16 05:37] rockingrohit9639 opened #74 "Change style of ProjectDetailsCard"
Chnage styles of ProjectDetailsCard to the following styles - ⬇️

![image](https://user-images.githubusercontent.com/40729749/122163447-d6d89f80-ce92-11eb-90a4-a8ad0985dd4c.png)

[2021-06-16 05:38] rockingrohit9639 opened #75 "Change footer style"
Change the style of the footer as shown in the following image ⬇️

![image](https://user-images.githubusercontent.com/40729749/122163688-32a32880-ce93-11eb-9ff3-5a9f5fa93c93.png)

[2021-06-16 06:06] ghost commented on #75
I would like to work on this issue

[2021-06-16 06:07] ghost commented on #74
I would like to work on this issue

[2021-06-16 06:14] rockingrohit9639 commented on #74
you can start working on this issue. Make sure you complete it in 5 days.

[2021-06-16 06:29] rockingrohit9639 commented on #75
Will assign you when you complete the other one.

[2021-06-16 06:48] ShwetKhatri2001 commented on #75
I would like to work on this issue

[2021-06-16 13:31] #74 closed

[2021-06-16 14:01] supzi-del commented on #71
Designed these two! Please have a look. I can work on other designs too.

![P](https://user-images.githubusercontent.com/78655439/122232930-42456000-ced9-11eb-923a-523fce332b55.png)
![P (1)](https://user-images.githubusercontent.com/78655439/122232948-483b4100-ced9-11eb-9c13-8faefab21175.png)

[2021-06-16 14:02] rockingrohit9639 commented on #71
@kanak22 have a look

[2021-06-16 14:25] kanak22 commented on #71
Both are good but I will suggest the first one as it goes well with the theme of the project.

[2021-06-16 14:34] kanak22 commented on #73
So how many projects do u want to add? like specify them nd their names

[2021-06-16 14:39] Kumud-869231165 commented on #75
I would like to work on this issue as a LGM-SOC participant. I have designed footers

[2021-06-16 14:41] rockingrohit9639 commented on #75
Hey @Kumud-869231165 someone is already assigned to this issue.

[2021-06-16 19:52] supzi-del commented on #71
How can I add the logo to the page? Like there's no HTML code for that in the project files.

[2021-06-16 19:58] ishitakapoor26 opened #77 "Add program section in readme.md"
Add program section to represent that this project is a part of LGM-SOC'21.

[2021-06-16 19:58] ishitakapoor26 commented on #77
@rockingrohit9639 pls assign this issue to me.

[2021-06-16 19:58] ishitakapoor26 opened #78 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:59] ishitakapoor26 commented on #78
@rockingrohit9639 pls assign this issue to me.

[2021-06-16 20:23] supzi-del commented on #71
Also should the background color be transparent?

[2021-06-17 03:41] rockingrohit9639 commented on #71
Just add the logo file to the project and push the changes. And yeah it would be great if you can give both a transparent and a jpeg file.

[2021-06-17 03:46] kanak22 commented on #77
@ishitakapoor26 go ahead :)

[2021-06-17 03:58] kanak22 commented on #78
@ishitakapoor26 firstly complete all the issues assigned to u then we will assign this one to you :)

[2021-06-17 04:38] rockingrohit9639 commented on #24
Hey @ShwetKhatri2001 would you like to work on this issue now?

[2021-06-17 04:57] ghost commented on #24
I would like to work on this issue

[2021-06-17 04:59] rockingrohit9639 commented on #24
Bro let me reply first if he don't want to work then I will assign you this

[2021-06-17 05:00] rockingrohit9639 opened #80 "Create About us page"
Create an About page and also show the name and details of all the contributors on that page and a little bit about our project.

[2021-06-17 05:01] rockingrohit9639 commented on #80
hey @Aayushpatil77 would you like to work on this issue?

[2021-06-17 05:01] #75 closed

[2021-06-17 05:06] ShwetKhatri2001 commented on #24
Yes I would like to work on this issue , You can assign.

[2021-06-17 05:08] rockingrohit9639 commented on #24
Okay @ShwetKhatri2001 you can start working on this issue. You are given 6 days to complete this.

[2021-06-17 05:09] ghost commented on #80
Yes, I would like to work on this issue

[2021-06-17 05:15] rockingrohit9639 commented on #80
Okay you can start, you are given 6 days to complete this.

[2021-06-17 07:36] ishitakapoor26 commented on #78
@kanak22 okay pls check I've raised pr for other issues.

[2021-06-17 07:39] #77 closed

[2021-06-17 07:40] rockingrohit9639 commented on #78
@ishitakapoor26 you can start working on it. You are given 2 days to complete it.

[2021-06-17 07:41] kanak22 commented on #78
yep i saw :)

[2021-06-17 11:17] Shaishav0507 opened #83 "Add Contact us page"
## Describe the bug/feature

Hey @rockingrohit9639
I would like to add contact us page .
Please assign it to me.
Thanks

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.
4.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environme

[2021-06-17 12:46] medhir23 commented on #63
Hi @rockingrohit9639, can i please work on this?

[2021-06-17 12:50] rockingrohit9639 commented on #63
@Shady2320 someone is already working on it

[2021-06-17 13:00] rockingrohit9639 commented on #83
Hey, @Shaishav0507 You can start working on this issue. Make sure you complete it in 6 days.

[2021-06-17 13:13] supzi-del commented on #71
Like, 2 files? - 1 transparent(png) and 1 jpg(white bg)

[2021-06-17 13:15] rockingrohit9639 commented on #71
Yes

[2021-06-17 14:37] #71 closed

[2021-06-17 17:40] Umesh-01 opened #85 "Make the badges of single type and add some more"
## Describe the bug/feature

In README.md file- Make the existing badges of single type because they are not looking good and add some more badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and it will also help them to navigate to different sections/ webpages like PRs, issues, contributors,

[2021-06-17 17:40] Umesh-01 commented on #85
@rockingrohit9639 Should I make these changes??

[2021-06-17 19:34] supzi-del opened #86 "Add logo in the readme file"
## Describe the bug/feature:

A project should have the logo displayed in the readme so that it has an identity. I would like to add this under LGMSOC

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceba

[2021-06-18 01:56] rockingrohit9639 commented on #85
You can start working on it. You are given 3 days to complete this.

[2021-06-18 01:58] rockingrohit9639 commented on #9
Hey @SamikshaSankar are you working on it?

[2021-06-18 03:33] rockingrohit9639 commented on #25
hey @Ayushgup85 would you like to work on this issue?

[2021-06-18 03:34] kanak22 commented on #86
Go Ahead :)

[2021-06-18 03:40] rockingrohit9639 commented on #14
Hey @Rutuj-Runwal bro, are you working on it?

[2021-06-18 04:52] rockingrohit9639 opened #87 "Add category section on homepage"
Add a category section on the homepage.
This should look like - 🔽

![image](https://user-images.githubusercontent.com/40729749/122508058-f69cce80-d01e-11eb-90c9-96dd4708ded2.png)

Ask me if you need any help.

[2021-06-18 06:07] #86 closed

[2021-06-18 06:08] rockingrohit9639 commented on #24
Hey @ShwetKhatri2001 You can reach out to me I have the Figma design ready for the landing page.

[2021-06-18 07:51] Rutuj-Runwal commented on #14
Yes I am working.....I was unable to push the changes as I was focused on other projects will do it ASAP

[2021-06-18 08:02] rockingrohit9639 commented on #14
Okay, no problem

[2021-06-18 10:05] SamikshaSankar commented on #9
Yes...but search bar is not working..I guess bcz whenever I search something on it..not show anything
TypeError: projects is undefined shows like this

[2021-06-18 10:44] rockingrohit9639 commented on #9
Have you pulled all the current code?

[2021-06-18 11:25] Veeresh-Rex commented on #87
hey @rockingrohit9639  I'd like to work on this issue.

[2021-06-18 12:57] kanak22 commented on #87
Go ahead :) make sure to complete this within 6 days

[2021-06-18 12:58] #85 closed

[2021-06-19 05:21] ShwetKhatri2001 commented on #25
I would like to work on this issue

[2021-06-19 09:54] RiyaGupta89 commented on #10
May I work on this issue and make the navbar sticky?

[2021-06-19 09:55] RiyaGupta89 commented on #12
Hi sir, if there's no one assigned to this issue. May I work on this issue?

[2021-06-19 09:57] RiyaGupta89 commented on #21
There's no zoom in effect on projects? If you want it get done, you can assign me the issue.

[2021-06-19 09:58] #24 closed

[2021-06-19 09:58] RiyaGupta89 commented on #25
Hi sir, I would love to work on this issue. Please assign me this issue.

[2021-06-19 10:01] rockingrohit9639 commented on #9
@SamikshaSankar hi, is there any problem you are not able to make PR?

[2021-06-19 10:03] rockingrohit9639 commented on #25
You can work on this issue. And make it similar to the file I gave you. You are given days to complete it.

[2021-06-19 10:04] #21 closed

[2021-06-19 10:04] SamikshaSankar commented on #9
Yes... Please assigned next issue...I will be worked later on this issue

[2021-06-19 10:04] #12 closed

[2021-06-19 10:46] #83 closed

[2021-06-19 11:12] rockingrohit9639 opened #92 "Change Contact Us page style"
Change the style of the Contact Us page like below - 🔽

![image](https://user-images.githubusercontent.com/40729749/122640443-3cd85780-d11d-11eb-80e3-b413b47ba3da.png)

Reach out to me for images and other resources

[2021-06-19 11:17] rockingrohit9639 opened #93 "Show trending projects on separate page"
Create a page to show TrendingProjects and remove TrendingProjects from Home.

[2021-06-19 11:21] Shaishav0507 opened #94 "Fix Footer on Home Page"
## Describe the bug/feature

Footer is not there on the home.
Please assign it to me.
Thanks

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.
4.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the fol

[2021-06-19 11:22] Shaishav0507 commented on #92
@rockingrohit9639 Can I work on this ?

[2021-06-19 11:25] rockingrohit9639 commented on #94
Footer is already there on every page. You might not have pulled all the changes.

[2021-06-19 11:27] rockingrohit9639 commented on #92
You can start working on this issue. Make sure you do the styling given in the image above. To get the images you can reach out to me on Discord or Slack. You are given 5 days to complete it.

[2021-06-19 11:32] rockingrohit9639 opened #95 "Add project logo icon in Footer"
Add project logo icon in the footer as shown in the image below ⬇️

![image](https://user-images.githubusercontent.com/40729749/122640981-0a7c2980-d120-11eb-9781-e6cc21fd9129.png)

[2021-06-19 11:34] rockingrohit9639 commented on #95
Hey, @RiyaGupta89 would you like to work on this issue?

[2021-06-19 11:35] RiyaGupta89 commented on #95
@rockingrohit9639 Yes sure sir.

[2021-06-19 11:37] rockingrohit9639 commented on #95
Okay, you can start working on this issue. You are given 4 days to complete it.
And yeah, don't call me sir 😃

[2021-06-19 11:43] Shaishav0507 commented on #92
Ok sure @rockingrohit9639

[2021-06-19 11:45] Shaishav0507 commented on #94
I checked from the live server live present there in the description.
Please update that link.

[2021-06-19 11:49] rockingrohit9639 commented on #94
Do you mean on netlify?

[2021-06-19 11:51] rockingrohit9639 opened #96 "Add images for each steps in README.md file"
Add images for each step like Fork, Clone, etc.

[2021-06-19 11:56] rockingrohit9639 commented on #14
Hey, @Rutuj-Runwal I have fixed that issue, now you can word on it. For now, you can just change the frontend we can change the backend later.

[2021-06-19 12:01] rockingrohit9639 opened #97 "Change screenshots in README.md file"
Change the preview screenshots present in the README file with the new screenshots.

[2021-06-19 12:16] Shaishav0507 commented on #94
Yes

[2021-06-19 13:00] RiyaGupta89 commented on #96
I can do it. Please assign this issue to me.

[2021-06-19 13:00] RiyaGupta89 commented on #97
Can you elaborate more?

[2021-06-19 13:02] RiyaGupta89 commented on #93
I can do it. Please assign this issue to me. UI will be similar to the home page, right?

[2021-06-19 13:16] rockingrohit9639 commented on #94
It is not updated yet. You can run the project locally to see all the changes.

[2021-06-19 13:16] rockingrohit9639 commented on #94
I am closing this issue.

[2021-06-19 13:16] #94 closed

[2021-06-19 13:17] rockingrohit9639 commented on #96
You are already assigned to an issue. Please fix that issue first and then ask for another issue. I will assign you once you complete the other issue,

[2021-06-19 13:28] RiyaGupta89 commented on #95
![2](https://user-images.githubusercontent.com/72425181/122643969-4dde9400-d130-11eb-84e4-c93cd1449275.png)
Please have a look, is this okay? Should I request for PR?

[2021-06-19 14:29] RiyaGupta89 commented on #95
Where will I get the logo image with transparent background? I have the logo but that has white background.

[2021-06-19 14:33] RiyaGupta89 commented on #95
![3](https://user-images.githubusercontent.com/72425181/122645716-58e9f200-d139-11eb-9901-bbbca43af262.png)
Have a look, it looks quite bad with this image.

[2021-06-19 14:35] rockingrohit9639 commented on #95
Use icon.png file in public folder

[2021-06-19 15:12] kanak22 commented on #97
it is about changing the present ss of the project preview in readme i.e which shows how the project looks like, as recently the project was updated in terms of how it looks. I hope u got it @RiyaGupta89 :)

[2021-06-19 15:27] RiyaGupta89 commented on #95
![8](https://user-images.githubusercontent.com/72425181/122647247-e54be300-d140-11eb-8e93-676f5d6a29a2.png)
Done. Please review the code.

[2021-06-19 15:46] anushruti11 commented on #93
@rockingrohit9639 If anyone is not working on this, I would like to work on this issue.

[2021-06-19 16:26] rockingrohit9639 commented on #96
@RiyaGupta89 you can work on it now.

[2021-06-19 16:28] rockingrohit9639 commented on #93
She has two other issue to fix, so think you can work on it. You are given 4 days to complete it. You can react out to me if you have any issue while doing it.

[2021-06-19 17:32] anushruti11 commented on #93
@rockingrohit9639 Should I add it in the navbar section?

[2021-06-19 17:37] rockingrohit9639 commented on #93
You have to create a new component and they show TrendingPrjoject component there.

[2021-06-19 21:31] ghost commented on #97
Can i work on this?

[2021-06-20 07:21] #95 closed

[2021-06-20 07:22] #93 closed

[2021-06-20 07:23] kanak22 commented on #97
sue @Devtinator  Go Ahead :)

[2021-06-20 07:34] #59 closed

[2021-06-20 08:10] rockingrohit9639 commented on #10
@SamikshaSankar you are given 3 days to complete both issues.

[2021-06-20 15:22] #96 closed

[2021-06-20 15:23] #87 closed

[2021-06-21 03:01] #97 closed

[2021-06-21 10:37] satyampgt4 opened #105 "fix dark mode"
## Describe the bug/feature

Dark mode is  not working properly

## To Reproduce

Steps to reproduce the behavior:

1. Toggle the dark mode button

## Screenshots

![image](https://user-images.githubusercontent.com/59261812/122748816-3fb48300-d2aa-11eb-8acd-37186700b272.png)
![image](https://user-images.githubusercontent.com/59261812/122748836-4511cd80-d2aa-11eb-809d-f1cad6be2545.png)
------------

[2021-06-21 12:44] rockingrohit9639 commented on #105
Hey @satyampgt4, I know this bug, I was planning you fix this once the frontend is ready. Otherwise, we have to change it whenever we add something new.

[2021-06-21 12:45] #63 closed

[2021-06-21 12:52] satyampgt4 commented on #105
Okay

[2021-06-21 12:52] #105 closed

[2021-06-21 13:16] #92 closed

[2021-06-21 13:18] rockingrohit9639 opened #107 "Connect Frontend with backend for Login and Signup"
Connect the frontend and the backend in project.

[2021-06-21 13:18] rockingrohit9639 commented on #72
@WebVishal bro, are you working on it?

[2021-06-21 13:25] rockingrohit9639 opened #108 "Separate search bar from homepage"
Create a separate page and show the SearchBar there and only fetch the project when the user clicks on the search button.

[2021-06-21 13:33] naveen8801 opened #109 "Implementing auth on client side"
## Describe the bug/feature

As we have already created auth routes on backend, I'd like to implement it on client side also.

## Expected behavior

Proposing following changes:-
- Improving UI for signin signup pages
- Removing existing signin & signup service
- Implemnting our on auth with our own backend

## Additional context

@rockingrohit9639 I'd like to work on it, please assign :)

[2021-06-21 13:35] #109 closed

[2021-06-21 13:36] naveen8801 commented on #107
@rockingrohit9639 I'd like to work on it, please assign :)

[2021-06-21 13:38] Shaishav0507 commented on #108
Can I work on this ?

[2021-06-21 14:11] rockingrohit9639 commented on #107
You can start working on it. You are given 6 days to complete it.

[2021-06-21 14:57] satyampgt4 commented on #108
you can start working on it, make sure to complete this within 6 days

[2021-06-21 14:59] kanak22 commented on #14
@Rutuj-Runwal any updates?

[2021-06-21 15:52] #14 closed

[2021-06-21 17:05] kanak22 opened #111 "Redesign and Improve Login page"
Redesign and improve the login page.

[2021-06-21 17:08] kanak22 opened #112 "Redesign and Improve Signup page"
Redesign and Improve Signup page.

[2021-06-21 17:15] ShwetKhatri2001 commented on #111
I would like to work on this issue

[2021-06-21 17:15] ShwetKhatri2001 commented on #112
@kanak22 @rockingrohit9639 I would like to work on this issue

[2021-06-21 17:16] kanak22 commented on #111
@ShwetKhatri2001 Go Ahead :) you have 6 days to complete it

[2021-06-21 18:05] anushruti11 commented on #112
@rockingrohit9639 I would like to work on this issue.

[2021-06-22 04:10] rockingrohit9639 commented on #72
Hey @WebVishal, This is your last day to submit your PR.

[2021-06-22 04:13] #25 closed

[2021-06-22 04:14] kanak22 commented on #112
@ShwetKhatri2001 since u are working on login page .. so let @anushruti11 work on this :)

[2021-06-22 04:15] kanak22 commented on #112
@anushruti11 you have 6 days to complete it

[2021-06-22 04:32] rockingrohit9639 commented on #111
Hey @ShwetKhatri2001 I have prepared a design for the Login page, It would be great if you can do something similar 🔽

![image](https://user-images.githubusercontent.com/40729749/122863669-d6338380-d340-11eb-8848-a1c81d92020a.png)

You can contact me for the images

[2021-06-22 04:33] rockingrohit9639 commented on #112
Hey, @anushruti11 I have created a design for the Signup page. It would be great if you can do something similar to this 🔽

![image](https://user-images.githubusercontent.com/40729749/122864010-7689a800-d341-11eb-89f1-f5d8e12f2eda.png)

You can contact me for the images

[2021-06-22 04:50] naveen8801 commented on #107
hi @rockingrohit9639 @kanak22 , should i hold this issue for sometime cause login & signup page are being redesigned ?

[2021-06-22 08:05] rockingrohit9639 commented on #80
@RiyaGupta89 would you like to work on this issue?

[2021-06-22 08:58] RiyaGupta89 commented on #80
Yes, I would like to work on this issue.

[2021-06-22 08:58] RiyaGupta89 commented on #80
If you have some demo UI of the page, you can show me. Otherwise I'll figure it out.

[2021-06-22 09:57] rockingrohit9639 commented on #80
I do not have the UI yet. You can use your imagination.

[2021-06-22 09:58] rockingrohit9639 commented on #80
@RiyaGupta89 I have assigned you and you are given 6 days to complete  this

[2021-06-22 10:02] RiyaGupta89 commented on #80
Sure, I'll complete the work in the given time.

[2021-06-22 13:24] kanak22 opened #114 "Restrict Add New Project to Authenticated user only"
Restrict Add New Project to Authenticated user only in navbar and other places where required.

[2021-06-22 13:45] #10 closed

[2021-06-22 18:00] ShwetKhatri2001 commented on #114
I would like to work on this issue, I am going to complete my previously assigned issue soon

[2021-06-22 18:36] supzi-del opened #115 "Read more not visible in dark mode"
## Describe the bug/feature

The read more link is black in colour, when the dark mode is toggled, it is not clearly visible.

## To Reproduce

Steps to reproduce the behavior:

1. Changing the colour of read more link when dark mode is toggled.
2.
3.
4.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your pro

[2021-06-22 18:36] supzi-del commented on #115
I would like to work on it under LGMSOC.

[2021-06-23 02:38] rockingrohit9639 commented on #72
Hey @ShwetKhatri2001 wiuld you like to work on this issue?

[2021-06-23 05:22] kanak22 commented on #114
@ShwetKhatri2001 go ahead :)

[2021-06-23 05:44] ShwetKhatri2001 commented on #72
Sure, You can assign

[2021-06-23 07:17] rockingrohit9639 commented on #72
Okay, I will assign you once you complete the other one.

[2021-06-23 11:05] #111 closed

[2021-06-23 11:30] RituCs commented on #72
I would like to work on this issue under LGMSOC'21.Please assign it to me.

[2021-06-23 14:11] rockingrohit9639 commented on #107
Now, you can continue working. The login page is ready now.

[2021-06-23 14:12] ROHAN842 opened #117 "On contact form submission user is sent to fresh new page with a successful message being displayed"
## Describe the bug/feature

As when user fills all the detail and clicks on "Send" button in Contact us section then site doesn't take any response and the user doesn't get any confirmation that whether the message is sent successfully or not!

## Expected behavior

I want to add a feature without back end with which user would be sent to a fresh new page on clicking Send button where the message

[2021-06-23 14:15] rockingrohit9639 commented on #117
Hey, @ROHAN842 you can start working on this. You are given 5 days to complete this.

[2021-06-23 14:16] rockingrohit9639 commented on #115
Hii @supzi-del we are holding to work on dark mode for now. When the frontend work will be almost done then we will update dark mode.

[2021-06-24 04:33] #117 closed

[2021-06-24 05:11] #114 closed

[2021-06-24 06:24] ShwetKhatri2001 commented on #72
You can assign this issue now, I have completed my other issues.

[2021-06-24 06:36] Aayushpatil77 opened #120 "Add prettier to the project"
## Describe the bug/feature

As of now their is a lot of code and if we need to fix the formatting to the code we need to add this

[2021-06-24 06:36] ghost commented on #120
Please assign this issue to me

[2021-06-24 06:43] rockingrohit9639 commented on #120
You can start working on this. You are given 4 days to complete this.

[2021-06-24 06:44] rockingrohit9639 commented on #72
Go Ahead. You are given 6 days to complete this.

[2021-06-24 07:50] rockingrohit9639 opened #123 "Add comment section in ProjectDetailsCard component"
Add a comment section in ProjectDetailsCard component like below ⬇️

![image](https://user-images.githubusercontent.com/40729749/123223836-dbcecc00-d4ee-11eb-9310-b67bfbbf1588.png)

[2021-06-24 08:07] anushruti11 commented on #123
I would like to work on this issue

[2021-06-24 08:16] satyampgt4 commented on #123
you can start working on this issue now. Make sure you complete this issue in 5 days.

[2021-06-24 09:40] #112 closed

[2021-06-24 09:41] #120 closed

[2021-06-25 02:43] RiyaGupta89 commented on #80
@rockingrohit9639 Do I need to add the image of the contributors? If not then what are the details that should be present on the page about the contributors?

[2021-06-25 03:30] rockingrohit9639 commented on #80
You can get all the details of the contributors using GitHub API. Username and their profile image should be there on the about us page.

[2021-06-25 03:34] #72 closed

[2021-06-25 04:18] rockingrohit9639 opened #125 "Make explore categories responsive"
Make explore categories 🔽  section responsive.

![image](https://user-images.githubusercontent.com/40729749/123368934-5b65a500-d59a-11eb-852a-b2b18ca3b0b6.png)

It should be mobile responsive.

[2021-06-25 04:20] rockingrohit9639 commented on #9
@SamikshaSankar are you workong on it?

[2021-06-25 05:35] rockingrohit9639 opened #126 "Create dashboard page"
Create a dashboard component something like 👇

![image](https://user-images.githubusercontent.com/40729749/123375425-61618300-d5a6-11eb-91dc-4007f7c75837.png)

Badges are optional for now. But you can create it if you want.
Route (render component) - /profile

[2021-06-25 07:22] ShwetKhatri2001 commented on #126
I would like to work on this issue

[2021-06-25 07:58] rockingrohit9639 commented on #126
You can start working on this issue. You are given 6 days to complete this.

[2021-06-25 13:16] ShwetKhatri2001 commented on #125
I would like to work on this issue, I am going to complete my previously assigned issue soon

[2021-06-25 14:39] ROHAN842 opened #128 "Want to add Particle Background Animation"
## Describe the feature

I want to add particle background animation in different pages of the website.

Add any other context about the problem here.
Some examples of how website will look after adding it to background are as :-

![image](https://user-images.githubusercontent.com/61961107/123441528-95ae6100-d5f1-11eb-8f8f-0491c9aa2db9.png)

![image](https://user-images.githubusercontent.com/61961

[2021-06-25 15:57] #107 closed

[2021-06-25 15:59] kanak22 commented on #128
Go Ahead @ROHAN842 :)

[2021-06-25 16:29] naveen8801 opened #129 "Adding dashboard data route on backend"
## Describe feature

- Add a protected route on the backend for fetching and updating data for user dashboard like Profile image, social links,, badges, bio/description, and others.

## Additional context

@rockingrohit9639  @kanak22, please assign it to me, I'd like to work on it :)

[2021-06-25 16:30] naveen8801 opened #130 "Adding Loader during starting of application"
## Describe the bug/feature

Add a loader when the application starts during that time app will check whether any user has logged in or not. loader will be added in App.js in useEffect where profile data is being fetched. Loader can be of any form for example an overlay display with full width and height having a spinner.

## Additional context
@kanak22 @rockingrohit9639 please add the 'good first

[2021-06-25 16:33] rockingrohit9639 commented on #129
You can start working on it

[2021-06-25 16:51] ROHAN842 commented on #128
Hey @kanak22 kindly attach  the LGMSOC and Level(whichever) to this issue

[2021-06-25 16:51] kanak22 commented on #128
Sure

[2021-06-25 17:50] mayankmohak commented on #130
can i work on this issue.

[2021-06-26 02:46] #9 closed

[2021-06-26 02:48] rockingrohit9639 commented on #125
Okay, I will assign you once you complete the other one.

[2021-06-26 02:53] rockingrohit9639 commented on #108
Hey, @Shaishav0507 are you working on this issue?

[2021-06-26 02:59] rockingrohit9639 commented on #130
You can start working on this issue. You are given 3 days to complete this.

[2021-06-26 03:01] Shaishav0507 commented on #108
@rockingrohit9639 Yes I'm working.
Recently I got vaccinated, so I was down for 2-3 days

[2021-06-26 03:03] rockingrohit9639 commented on #108
Ohhh okay, No problem. Take care brother.

[2021-06-26 03:08] Shaishav0507 commented on #108
@rockingrohit9639 Thank you.
Will send you within 1-2 days

[2021-06-26 03:42] rockingrohit9639 opened #131 "Restrict /addnew route to authenticated users only"
## Describe the bug/feature

For now, an unauthenticated user can access /addnew page by typing the route in the URL. This should not happen. So, restrict this route to authenticated users only.
This means that if the user is authenticated then only they can access this page otherwise navigate them to the homepage.

[2021-06-26 03:48] rockingrohit9639 opened #132 "Add loading indicator on login and signup page"
After filling out the signup or login form, when we click on the Signup/Login button the form gets reset and nothing happens for some seconds. And after some seconds we saw the message that the user is signed up or not.

So, add a loading indicator that runs when the user clicks on the signup button and when the message appears, it should be hidden.

[2021-06-26 06:11] rockingrohit9639 opened #133 "Redesign Add New Project page"
Redesign Add New Project page similar to the image below 👇

![image](https://user-images.githubusercontent.com/40729749/123503911-a0a9d580-d673-11eb-87f4-2e8cdabc5a6e.png)

You can contact me for images and other resources.

[2021-06-26 06:15] rockingrohit9639 commented on #80
Hey, @RiyaGupta89 If you are having any difficulties in doing it then you can contact me I can help you out.

[2021-06-26 06:26] rockingrohit9639 opened #134 "Add like button and text on Project card"
Add a like button and text on the Project card like 👇

![image](https://user-images.githubusercontent.com/40729749/123504188-617c8400-d675-11eb-97bd-017169b69363.png)

[2021-06-26 08:00] RiyaGupta89 commented on #80
Yes @rockingrohit9639, I just want to know from where to get the github API. Then I will fetch and display the details on the about us page.

[2021-06-26 08:01] RiyaGupta89 commented on #133
I can do this. Please assign me this issue.

[2021-06-26 08:03] RiyaGupta89 commented on #134
The user should be able to click on that button and like the project too? And the number of likes increases? Is this the task?

[2021-06-26 10:35] rockingrohit9639 commented on #80
Make get request to this endpoint -
https://api.github.com/repos/rockingrohit9639/project-zone/contributors

[2021-06-26 10:45] #126 closed

[2021-06-26 11:01] rockingrohit9639 commented on #125
hey @ShwetKhatri2001 You can start working on this issue. You are given 4 days to complete it.

[2021-06-26 11:43] satyampgt4 commented on #133
You can start working on this issue, make sure to complete this within 6 days

[2021-06-26 12:37] rockingrohit9639 commented on #133
@satyampgt4 She is already assigned to another issue. Please look for the other issues too. We cannot assign a single person to multiple issues at the same time.

[2021-06-26 13:00] satyampgt4 commented on #133
I had read the conversation of that issue so I thought problem regarding API has been solved

### I will take care of this in future

[2021-06-26 17:51] naveen8801 opened #137 "Integrate User dashboard with server api"
## Describe the bug/feature

Feature to be added :-
- User can get his profile data from the database and will be shown on user's dashboard
- Update or upload his/her profile informations including profile pic, badges, bio , description, social links etc.

## Additional context

@rockingrohit9639 @kanak22, please assign, I'd like to work on it :)

[2021-06-26 17:54] rockingrohit9639 commented on #137
I have assigned you this issue. You are given 6 days to complete it.

[2021-06-26 17:55] #129 closed

[2021-06-26 18:00] kanak22 commented on #137
go ahead :))

[2021-06-27 03:57] #123 closed

[2021-06-27 04:29] naveen8801 opened #139 "Bug - Make Welcome to dashboard align perfectly with other navbar items"
## Describe the bug/feature

Welcome to dashboard text after sign in or sign up , is not perfectly vertically aligned that's why giving a weird look.

![Screenshot (96)_LI](https://user-images.githubusercontent.com/54985099/123532832-47eb4300-d72e-11eb-84be-24eaf8886940.jpg)

## Expected behavior

All navbar items should be aligned same horizontally and vertically.

## Additional context

@rocking

[2021-06-27 06:29] anushruti11 commented on #134
Can I work on this issue?

[2021-06-27 06:33] rockingrohit9639 commented on #134
You can start working on this issue. You are given 3 days to complete this.

[2021-06-27 06:34] rockingrohit9639 commented on #134
For now, We only need that icon and text there

[2021-06-27 06:58] rockingrohit9639 opened #140 "Create an EditProfile Modal"
Create a Modal on the Profile page which is popped up when the user clicks on the Edit Profile button.
The modal should look like below 👇

![image](https://user-images.githubusercontent.com/40729749/123535689-0e710280-d743-11eb-8297-1fa0877b58c9.png)

[2021-06-27 06:59] RiyaGupta89 commented on #80
https://user-images.githubusercontent.com/72425181/123535730-4ed08080-d743-11eb-8589-0c0b003aa118.mp4

Have a look, does it look okay?

[2021-06-27 07:01] rockingrohit9639 commented on #80
This is looking awesome.

[2021-06-27 07:04] RiyaGupta89 commented on #80
@rockingrohit9639 Thankyou! Should I make PR then?

[2021-06-27 07:47] RiyaGupta89 commented on #80
@rockingrohit9639 I'm not able to make the page responsive.
![unresponsive](https://user-images.githubusercontent.com/72425181/123536696-8e01d000-d749-11eb-94fa-ef684b0d6e03.png)
In the right side of the page which I marked with red color, I don't know why that extra space is left out. Its because of navbar or something or idk. I tried making the page responsive, its not that difficult too but bec

[2021-06-27 08:25] rockingrohit9639 commented on #80
Okay, No problem

[2021-06-27 09:42] ShwetKhatri2001 commented on #140
I would like to work on this issue, I am going to complete my previously assigned issue very soon

[2021-06-27 09:44] rockingrohit9639 commented on #140
Okay I will assign you once you complete the other one

[2021-06-27 09:58] RiyaGupta89 commented on #80
@rockingrohit9639 Should I make PR or not?

[2021-06-27 09:59] rockingrohit9639 commented on #80
Make it

[2021-06-27 11:01] RiyaGupta89 commented on #133
Now can I work on this issue? From where will I get that purple plane image?

[2021-06-27 11:03] RiyaGupta89 commented on #139
Can I work on it?

[2021-06-27 11:04] kanak22 commented on #139
Hey @RiyaGupta89 :) did u completed all the previous issues assigned to you?

[2021-06-27 11:24] RiyaGupta89 commented on #139
@kanak22  I completed one and for the other one I need the image, when I'll get that image, I'll do that. This issue will not much time so I wanted to work on it.

[2021-06-27 11:33] kanak22 commented on #139
Okay ;) go ahead  you have 3 days to do this

[2021-06-27 11:40] rockingrohit9639 commented on #133
Ping me on Discord or Slack. I will send you that image.

[2021-06-27 11:45] #80 closed

[2021-06-27 11:56] RiyaGupta89 commented on #139
![align](https://user-images.githubusercontent.com/72425181/123543555-bfd85e00-d76c-11eb-8f1e-8fb7b1b46106.png)
The alignment is perfectly correct. What do I need to do then?

[2021-06-27 12:08] rockingrohit9639 commented on #139
Make PR

[2021-06-27 13:44] RiyaGupta89 commented on #133
@rockingrohit9639 I did this much . I don't know why project level textfield and language textfield are not even clickable. Also nothing major changes when i tried adding styling to it. Can i remove material ui fields and use html tags to add the field and styling? But the functionality will be gone then.
![newproject](https://user-images.githubusercontent.com/72425181/123546633-1187e500-d77b-11eb

[2021-06-27 13:47] rockingrohit9639 commented on #133
the right thing you are doing is not to be done this way, these are the dropdown designs which will show as suggestions when user clicks on the input field

[2021-06-27 13:54] RiyaGupta89 commented on #133
Should I then leave this issue? Because I am not very much familiar with React. I just know the  basics. And this functionality thing seems complex to me, I might mess it up.

[2021-06-27 14:02] rockingrohit9639 commented on #133
Okay, leave it

[2021-06-27 14:20] naveen8801 opened #145 "Documentation - Add steps to run server locally & Update images"
## Describe the change

I'd like to edit the readme.md :-
- Add steps to run our server locally
- Update preview images

## Additional context

@rockingrohit9639 @kanak22, my current issue #137 is on hold that's why I'd like to work on it please assign :-)

[2021-06-27 14:22] ROHAN842 opened #146 "Home, Find Projects and About section links are not working in the Footer section"
## Describe the bug/feature

In the footer section Login/Signup, Contact Us, Trending Projects links are working fine but the above mentioned 3 links are not working fine as there are not redirected to the correct path.

I would like to work on this issue.

Could you please assign this issue to me under LGMSOC so that I can fix this bug.

## Additional context

![image](https://user-images.githubu

[2021-06-27 14:34] rockingrohit9639 commented on #145
You can start working on this issue. you are given 3 days to complete it.

[2021-06-27 15:02] rockingrohit9639 commented on #146
Hey @ROHAN842 bro, only the Find Projects page is not created yet so it is right. And the only thing that needs to be changed is About. Only change the about route everything is fine. You are given 2 days to do it.

[2021-06-27 15:02] #145 closed

[2021-06-27 16:06] satyampgt4 commented on #18
I think #9 issue for same is closed without any pr
@Veeresh-Rex  are you still interested to work on it ...?

[2021-06-27 16:30] ROHAN842 commented on #146
@rockingrohit9639 OK

[2021-06-27 18:46] ShwetKhatri2001 commented on #140
You can assign this issue now

[2021-06-27 18:49] ShwetKhatri2001 commented on #133
I would like to work on this issue whenever its possible

[2021-06-28 01:53] rockingrohit9639 commented on #140
You can start working on this. You are given 6 days to complete it.

[2021-06-28 02:29] satyampgt4 opened #150 "add customize scrollbar"
## Describe the bug/feature

Add customize scrollbar like this **or any other design or color that suits with project**

![image](https://user-images.githubusercontent.com/59261812/123570542-0cac4b00-d7e6-11eb-8869-843a06d14d17.png)

- Browser: all

## Additional context

Add any other context about the problem here.

[2021-06-28 03:30] #134 closed

[2021-06-28 03:35] #125 closed

[2021-06-28 04:33] rockingrohit9639 commented on #133
Okay bro I will assign you when you completes the other one

[2021-06-28 04:48] #128 closed

[2021-06-28 05:06] rockingrohit9639 commented on #130
hey @mayankmohak bro, are you working on it?

[2021-06-28 09:10] mayankmohak commented on #130
sry i actually missed the notification.
I will be doing in couple of hours.

[2021-06-28 09:32] rockingrohit9639 commented on #130
okay

[2021-06-28 10:08] mayankmohak commented on #130
made a pr please review.

[2021-06-28 10:58] #146 closed

[2021-06-28 11:00] ROHAN842 commented on #150
@satyampgt4 I would like to work on this issue

[2021-06-28 11:08] rockingrohit9639 commented on #150
you can start working on this issue. You are given 3 days to complete it.

[2021-06-28 11:08] #130 closed

[2021-06-28 11:21] ROHAN842 commented on #150
@rockingrohit9639 OK

[2021-06-28 12:15] Veeresh-Rex commented on #18
Yes, Please assign it to me

[2021-06-28 12:51] kumarishalini6 opened #153 "forget password page"
## Describe the bug/feature

There is no forget password page
@rockingrohit9639 can i work on this issue??

[2021-06-28 12:54] kumarishalini6 opened #154 "improving scroll to top button"
## Describe the bug/feature

the button box is too long as compare to arrow
@rockingrohit9639 can i improve the button

[2021-06-28 13:59] satyampgt4 commented on #18
you can start working on this issue now. Make sure you complete this issue in 5 days.

[2021-06-28 14:04] satyampgt4 commented on #153
@kumarishalini6  you can start working on this issue now. Make sure you complete this issue in 6 days.

[2021-06-28 14:05] kumarishalini6 commented on #153
Ok

[2021-06-28 14:12] satyampgt4 commented on #154
@kumarishalini6 you will be assigned to this issue once you complete your previous assigned issue

[2021-06-28 14:16] rockingrohit9639 commented on #18
@Veeresh-Rex bro make sure you make changes to SearchBox component only and not on homepage. Because  has to be shifted to another page. That's why I was holding this issue.

[2021-06-28 14:44] ROHAN842 commented on #150
https://user-images.githubusercontent.com/61961107/123656200-5419f200-d84d-11eb-9b67-8e21d070b50f.mp4

@rockingrohit9639 bro is this design of scrollbar fine I have also imported animation in it

[2021-06-28 14:47] ROHAN842 commented on #150
![image](https://user-images.githubusercontent.com/61961107/123656581-ad822100-d84d-11eb-8ef2-3293488adff3.png)

Have a look at this one also this scrollbar borders are curved

[2021-06-28 15:33] #153 closed

[2021-06-28 15:48] satyampgt4 commented on #154
@kumarishalini6 you can start working on this issue now

[2021-06-28 16:02] kumarishalini6 commented on #154
Ok

[2021-06-28 16:02] kumarishalini6 commented on #154
Please add level on my previous PR

[2021-06-28 16:35] kumarishalini6 opened #157 "Footer"
## Describe the bug/feature

Footer is not fixed  and also a lots of error because of closing tags

@rockingrohit9639 i want to work on this issue

[2021-06-28 16:41] #154 closed

[2021-06-28 16:42] kumarishalini6 opened #158 "Login and sign up page is not responsive"
## Describe the bug/feature
The login and sign up page is not responsive

@rockingrohit9639 can i work on this issue

[2021-06-29 02:56] satyampgt4 commented on #158
you can start working on this issue

[2021-06-29 03:43] kumarishalini6 opened #161 "About us page is not responsive"
## Describe the bug/feature

@rockingrohit9639 The about us page is not responsive
can i work on this issue

[2021-06-29 04:14] rockingrohit9639 commented on #161
Yes, you can work on this issue. You are given 3 days to complete it.

[2021-06-29 04:14] #140 closed

[2021-06-29 04:34] rockingrohit9639 commented on #133
Hi @ShwetKhatri2001 bro, you can start working on this issue. You are given 6 days to complete it.

[2021-06-29 04:40] rockingrohit9639 commented on #150
This looks good you can go with it.

[2021-06-29 05:28] rockingrohit9639 commented on #108
hey @Shaishav0507 bro I am unassigning you from this issue as there is no response from your side

[2021-06-29 06:23] kumarishalini6 commented on #161
ok

[2021-06-29 13:40] #161 closed

[2021-06-29 15:15] kumarishalini6 commented on #158
I have delete that branch and take latest upstream  login , sign up and forget password need to redesign because only images are visible

![InkedProject Zone - Personal - Microsoft​ Edge 6_29_2021 08_43_58 PM_LI](https://user-images.githubusercontent.com/69043944/123823575-cddfc900-d8a9-11eb-838b-df67d3bfb8cd.jpg)

[2021-06-29 15:16] kumarishalini6 commented on #158
This is ss of only login page

[2021-06-29 15:17] kumarishalini6 commented on #158
Now please tell me what to do
@rockingrohit9639  ??

[2021-06-29 15:19] rockingrohit9639 commented on #158
let me check

[2021-06-29 15:20] #150 closed

[2021-06-29 15:21] #73 closed

[2021-06-29 15:37] kumarishalini6 commented on #158
Ok

[2021-06-29 15:39] kumarishalini6 commented on #158
Also check the responsive

[2021-06-29 15:58] rockingrohit9639 commented on #158
@kumarishalini6 I have made the changes. Please pull those changes. And please let me know if there are any other issues.

[2021-06-29 16:03] kumarishalini6 commented on #158
now only responsive is in need i'll do that

[2021-06-29 16:17] ROHAN842 opened #164 "Add hover animations for footer options"
## Describe the feature

As when user scrolls over the footer options then he doesn't able to see on which option he has clicked and by mistake it may also possible let's say he wants to click on Home option in footer but by mistake he clicked the option present just below it.

So to avoid this type of mistake by the user, I want to add hover animation with underline for footer options.

Can I wor

[2021-06-29 16:19] rockingrohit9639 commented on #158
yes please

[2021-06-29 17:50] naveen8801 opened #166 "Feature - Implement forget password feature"
## Describe the bug/feature

Currently there is no forget password functionality in application.
- Implementing backend route for the same.
- one time password reset link will be sent to user through email.
- Integrating backend route with frontend.

## Additional context

@kanak22  @rockingrohit9639, I'd like to work on it, please assign 🚀

[2021-06-29 17:52] rockingrohit9639 commented on #166
@naveen8801 I have assigned you this issue. Make sure you complete it in 6 days

[2021-06-30 02:44] #137 closed

[2021-06-30 02:50] rockingrohit9639 commented on #139
Hii @RiyaGupta89 have you done it?

[2021-06-30 03:23] RiyaGupta89 commented on #139
@rockingrohit9639 Yes, I've made a PR.

[2021-06-30 03:25] RiyaGupta89 opened #168 "Hover effect on categories cards"
![categories](https://user-images.githubusercontent.com/72425181/123897346-da832080-d980-11eb-8fa0-791d104b62ba.png)
Can I add hover effect on these cards?

[2021-06-30 03:58] rockingrohit9639 commented on #168
it is already there.

[2021-06-30 03:59] #108 closed

[2021-06-30 04:04] kumarishalini6 commented on #158
I have a lots of time but I don't why there is no effect of changes in input and I have tried to redesign it but the inputs are not visible
@rockingrohit9639 please check where and what is issue

[2021-06-30 04:07] rockingrohit9639 commented on #158
Okay, I will check.

[2021-06-30 06:47] RiyaGupta89 commented on #168
Okay

[2021-06-30 09:50] #133 closed

[2021-06-30 11:58] kumarishalini6 opened #172 "Responsive categories card"
## Describe the bug/feature

Categories card are not responsive
@rockingrohit9639  can i work on this issue

[2021-06-30 15:49] rockingrohit9639 commented on #172
those are already responsive. you have to scroll to view more cards.

[2021-06-30 15:51] kumarishalini6 commented on #172
Ok

[2021-06-30 15:51] #172 closed

[2021-06-30 16:18] #18 closed

[2021-06-30 16:18] #164 closed

[2021-06-30 16:35] rockingrohit9639 opened #174 "Create and connect frontend of AddNewProject to backend"
Steps to follow for this issue -
- Create a route in the backend to add a new project
- Connect frontend with backend

[2021-06-30 16:36] #168 closed

[2021-06-30 16:36] #157 closed

[2021-06-30 16:38] rockingrohit9639 opened #175 "Add loading indicator in ShowProject component"
Add a loading indicator when the user clicks on the search button and remove it when the results are shown on the screen.

[2021-06-30 16:41] rockingrohit9639 opened #176 "Add a loading indicator on Profile component"
Show a loading indicator when the data is sent from frontend to backend and hide the indicator when a response has been received by backend.

[2021-06-30 17:26] ShwetKhatri2001 commented on #174
@rockingrohit9639 I would like to work on this issue

[2021-06-30 17:29] ShwetKhatri2001 commented on #176
@rockingrohit9639 I would like to work on this issue

[2021-07-01 02:45] rockingrohit9639 commented on #174
Go ahead, You are given 6 days to fix this issue.
You can reach out to me for URI and other info

[2021-07-01 04:31] Amrutha1101 commented on #176
I would like to work on this issue under LGM-SOC

[2021-07-01 04:31] Amrutha1101 commented on #175
I would like to work on this issue under LGM-SOC

[2021-07-01 06:25] satyampgt4 commented on #175
you can start working on it . you have 3 days to do this

[2021-07-01 06:56] codingninja11 commented on #176
Can I work on this issue? @rockingrohit9639

[2021-07-01 07:46] #158 closed

[2021-07-01 07:56] satyampgt4 commented on #176
@Amrutha1101 you are already assigned to another issue. please complete that first

@codingninja11 you can start working on it . you have 3 days to do this

[2021-07-01 14:59] naveen8801 opened #178 "Feature - Add verify your email option"
## Describe the bug/feature

I'd like to add ' Verify your email ' functionality on new signup which involves a mail to registered email having a link to verify user's account then we can send daily updates to users

## Additional context

@rockingrohit9639, please assign, I'd like to work on it :-)

[2021-07-01 15:07] rockingrohit9639 commented on #178
Go ahead, you are given 6 days to fix this issue.

[2021-07-01 15:11] #166 closed

[2021-07-01 17:24] #139 closed

[2021-07-02 07:29] ShwetKhatri2001 opened #181 "Store user contact messages and send relevant emails"
## Describe the bug/feature

- Storing messages sent by user from contact us page to database's user modal
- Sending 'Thanks for visiting' type email to user.
- Sending email to project admin having user-details ( who contacted ) and message he sent ( user's feedback/ message ).

@rockingrohit9639 @kanak22 , I'd like to work on this issue

[2021-07-02 09:46] #174 closed

[2021-07-02 09:49] rockingrohit9639 commented on #181
Go ahead, You are given 6 days to fix this issue.

[2021-07-02 12:00] abhishekkumar08 commented on #132
Can I work on this??

[2021-07-02 12:40] rockingrohit9639 commented on #132
Yes, go ahead, you are given 4 days to complete this.

[2021-07-02 19:14] ShwetKhatri2001 opened #183 "Adding google-login route on backend and integrating it with frontend"
## Describe the bug/feature

A user logging in using google is not being stored in database having some basic details currently. so he is not able to edit his profile , we can't store projects added by him or messages sent by him without storing user with required fields.

@rockingrohit9639 I'd like to work on this issue,

[2021-07-03 03:50] rockingrohit9639 commented on #183
Yes, for now, it is done using Magic but I am thinking to use oAuth.
Steps for Login using google only (signup is remaining) -
- When the user clicks on google it should authenticate using OAuth and fetch all data from the database based on the email id he/she has.
- Show all the data on the website.

(It would be better if you do signup first.)

[2021-07-03 04:56] VenomFate-619 commented on #131
can do this

[2021-07-03 04:59] rockingrohit9639 commented on #131
ok, you can start working on it. You are given 4 days to complete it.
Help -
- We have a state in ContextAPI that holds that the user is authenticated or not. You can use that on this page.

[2021-07-03 05:01] #181 closed

[2021-07-03 05:21] VenomFate-619 commented on #131
Can I make a Private route wrapper and if yes then what should be the folder 📁 name

[2021-07-03 05:22] rockingrohit9639 opened #184 "Add horizontal scrollbar on explore categories section"
On the homepage, Categories Section is responsive but there is not an indicator that shows that we can scroll it horizontally. So, add a horizontal scrollbar or something which indicated to the user that he/she can scroll it.

Something like the image below 👇
![image](https://user-images.githubusercontent.com/40729749/124344120-43230500-dbee-11eb-9911-d90e028dc8e4.png)

[2021-07-03 05:22] rockingrohit9639 commented on #131
why would you do that?

[2021-07-03 06:07] ShwetKhatri2001 commented on #183
signup and login both can be handled on a single route onclick to any Google button , if he/she has not signed up before then we can save him to database first and then can show that data and make him/her authenticated on frontend. otherwise if he/ she is already signed up then will fetch previously stored data and make him/her authenticated on frontend.

[2021-07-03 06:17] rockingrohit9639 commented on #183
Sounds good, go ahead. You are given 6 days to complete it.

[2021-07-03 06:21] rockingrohit9639 opened #185 "Add some default options on ShowProjects component"
Add some default options on ShowProjects component something like image below 👇

![image](https://user-images.githubusercontent.com/40729749/124345173-fa227f00-dbf4-11eb-8968-7ad75ffad165.png)

[2021-07-03 06:57] ghost commented on #184
I would like to work on this issue

[2021-07-03 07:03] rockingrohit9639 commented on #184
Go ahead, you are given 3 days to complete it.

[2021-07-03 09:15] naveen8801 opened #187 "Swagger UI for sever"
## Describe the bug/feature

As now we have many routes on server-side so I'd like to create swagger-UI for server-side which help all contributors as well as users to know which route performs which functions :)

## Additional context

@kanak22  @rockingrohit9639 , please assign , I'd like to work on it :)

[2021-07-03 09:18] kanak22 commented on #187
Go Ahead :)

[2021-07-03 10:43] naveen8801 opened #189 "Make Homepage dynamic by fetching data from db"
## Describe the bug/feature

As of now, our homepage is static i.e we are using hardcoded projects details, I'd like to make it dynamic by fetching all projects from the database and then present them on the homepage.

## Additional context

@kanak22 @rockingrohit9639, as i have made PRs for all my assigned issues so I'd like to work on it, please assign :)

[2021-07-03 11:18] #178 closed

[2021-07-03 11:29] VenomFate-619 commented on #131
So, that we can have a logic for all private routes at one place

[2021-07-03 12:08] ShwetKhatri2001 commented on #185
I would like to work on this issue, I am going to complete my previously assigned issue very soon.

[2021-07-03 12:32] kanak22 commented on #189
Go Ahead :)

[2021-07-03 13:11] rockingrohit9639 commented on #131
You don't need anything on the server. You can do is using a state variable called isAuthenticated.

[2021-07-03 15:02] #187 closed

[2021-07-03 15:02] #184 closed

[2021-07-03 15:06] kanak22 commented on #185
Hey @ShwetKhatri2001 make a PR for the previous issue nd then comment here once, we will assign it to u :)

[2021-07-03 15:18] ghost commented on #185
I would like to work on this issue

[2021-07-03 15:26] kanak22 commented on #185
Hey @Aayushpatil77 , Shwet asked first so this will be assigned to him :) You can look for other issues or create new ones

[2021-07-03 15:41] satyampgt4 opened #192 "Make Login and sign up page responsive"
## Describe the bug/feature

Login and sign up page is not responsive

## To Reproduce

reduce size of browser

## Expected behavior

responsive design

## Environment (please complete the following information):

- Browser: all

## Additional context

screenshot :-

![image](https://user-images.githubusercontent.com/59261812/124359513-033a3d00-dc43-11eb-836e-5d8f5c587d47.png) |
![image](https://u

[2021-07-03 19:33] ShwetKhatri2001 commented on #185
You can assign now

[2021-07-04 03:40] satyampgt4 opened #194 "Create a 404 page"
## Describe the bug/feature

Create a 404 page

## To Reproduce

whenever try to access not existing page

## Expected behavior

show 404 error

## Environment (please complete the following information):

- Browser: all

## Additional context

 Use some image in the 404 page  also  instead of text only

[2021-07-04 03:53] rockingrohit9639 commented on #194
# Page should match the website theme.

[2021-07-04 05:04] rockingrohit9639 commented on #175
@Amrutha1101 are you working on this issue?

[2021-07-04 05:06] Amrutha1101 commented on #175
Yes @rockingrohit9639

[2021-07-04 05:08] rockingrohit9639 commented on #175
if you are having any problem you can ping me on discord or slack

[2021-07-04 05:09] Amrutha1101 commented on #175
I'm finding it difficult to set up the project. I've pinged on discord too

[2021-07-04 05:45] naveen8801 commented on #194
hi @satyampgt4 @rockingrohit9639, can i work on this, my previous issue is on hold due to some data changes to be made in database :-)

[2021-07-04 06:30] rockingrohit9639 commented on #194
you can start working on it.

[2021-07-04 08:23] #194 closed

[2021-07-04 12:27] #183 closed

[2021-07-04 13:50] NOiR-07 opened #196 "Editing the footer"
## Describe the bug/feature
In the footer where made with love by open source contributor is written, contributor word looks dim, I will change the word to look alike the rest of them
A clear and concise description of what the bug/feature is.

## To Reproduce

Steps to reproduce the behavior:

1.Change the position of Contributor word in footer
2.
3.
4.

## Expected behavior

A clear and concise

[2021-07-04 15:54] kanak22 commented on #196
sure :)

[2021-07-04 15:57] #189 closed

[2021-07-05 01:46] satyampgt4 commented on #176
@codingninja11 Updates on this?

[2021-07-05 05:41] naveen8801 opened #198 "Implement Comment Feature on Projects"
## Describe the bug/feature

I'd like to implement comment feature for projects which will include adding a protected route at backend side and handling that endpoint on client side.

## Additional context

@kanak22  @rockingrohit9639 , please assign , I'd like to work on it 😄

[2021-07-05 05:50] rockingrohit9639 commented on #198
You are assigned to the issue. You are given 6 days to do the task.

[2021-07-05 06:10] ShwetKhatri2001 opened #200 "Adding server route to save no. of likes and implementing Like increment on frontend for project"
## Describe the bug/feature

Implementing Like increment for a project onclick to like button on project card or project details and
saving no. of likes for that project  using a server route.

@rockingrohit9639 I 'd like to work on this issue.

[2021-07-05 06:28] rockingrohit9639 commented on #200
You can start working on this issue. You are given 6 days to complete it.
And make sure only add a like if a user is authenticated and if not show any alert or toast message.

[2021-07-05 06:51] rockingrohit9639 opened #201 "Fix bug on ProjectDetails component"
![image](https://user-images.githubusercontent.com/40729749/124429164-27a13100-dd8b-11eb-92ed-7ec4b5762f42.png)

In the image above, the share menu is not placed in its right place. The red color shows the wrong place, green color shows the right place. So, fix the position from red to green. And make sure you don't change the styling for Share Menu on Project Componen.

[2021-07-05 07:05] #185 closed

[2021-07-05 07:15] ghost commented on #201
@rockingrohit9639 I would like to work on this issue

[2021-07-05 07:21] satyampgt4 commented on #201
@Aayushpatil77  Go ahead

[2021-07-05 08:29] codingninja11 commented on #176
Sorry but I won't be able to fix this as my exams have started.Please unassign.

[2021-07-05 13:42] #131 closed

[2021-07-05 15:29] naveen8801 opened #205 "Make ProjectDeailsPage Dynamic"
## Describe the bug/feature

Currently, the ProjectDetails page is getting data from context. I'd like to fetch project data directly from DB using project id.

## Additional context

@kanak22  @rockingrohit9639, I'd like to work on it, please assign :)

[2021-07-05 15:31] kanak22 commented on #205
:) sure

[2021-07-05 15:34] #198 closed

[2021-07-05 18:47] #205 closed

[2021-07-05 21:36] ShwetKhatri2001 commented on #192
@rockingrohit9639 I would like to work on this issue

[2021-07-06 02:56] satyampgt4 commented on #192
@ShwetKhatri2001 You can start working on it

[2021-07-06 05:29] rockingrohit9639 opened #208 "Update preview screenshots in README.md file"
Update preview screenshots in README.md file

[2021-07-06 06:33] naveen8801 opened #210 "Feature - Improve Share Feature"
## Describe the feature

Now we can share link of the particular project using the project id as we have implemented get endpoint on server for the same.

## Additional context

@rockingrohit9639 @kanak22, please assign, I'd like to work in it :)

[2021-07-06 06:46] kanak22 commented on #210
Go ahead 🤗

[2021-07-06 06:49] kanak22 commented on #132
Hey @abhishekkumar08 any updates?

[2021-07-06 06:52] #200 closed

[2021-07-06 06:57] abhishekkumar08 commented on #132
I'm sorry, busy in my college exams. You can unassign me.

[2021-07-06 06:59] kanak22 commented on #132
Okay no problem :)

[2021-07-06 07:48] ShwetKhatri2001 opened #212 "Adding pagination on show/search projects page"
## Describe the bug/feature

- We can have a pagination having some maximum projects on a page of pagination so that  can avoid long scrolling on a single page.

@rockingrohit9639 I would like to work on this issue

[2021-07-06 07:59] #192 closed

[2021-07-06 11:06] rockingrohit9639 commented on #212
You can start working on it. You are given 6 days to complete it.

[2021-07-06 14:46] VenomFate-619 opened #216 "Server and frontend should start by one command"
Server and frontend application should start  in one command , it can be done by concurrently npm package.
Can I do this.

[2021-07-06 15:27] #210 closed

[2021-07-06 16:30] naveen8801 opened #217 "Feature - Filter Option to filter user's search"
## Describe the bug/feature

I'd like to add a new feature which will filter user's search wrt level of project.

## Additional context

Add any other context about the problem here.

@rockingrohit9639 @kanak22, I'd like to work in it, please assign :)

[2021-07-06 17:59] satyampgt4 commented on #217
@naveen8801  you can start working on it

[2021-07-06 21:07] ShwetKhatri2001 opened #219 "Adding Rating change for project functionality"
## Describe the bug/feature

- Project Details can have a functionality to choose rating stars
- selected rating no. will take part in updating overall average rating for that project
- New average rating will be updated in database using a server route and that new rating can be shown on project-cards then onwards

@rockingrohit9639 I'd like to work on this issue.

[2021-07-07 03:25] #196 closed

[2021-07-07 03:26] rockingrohit9639 commented on #216
You can start working on it. You are given 2 days to do it.

[2021-07-07 03:27] rockingrohit9639 commented on #219
You can start working on it. You are given 6 days to complete this.

[2021-07-07 04:18] #212 closed

[2021-07-07 04:26] #132 closed

[2021-07-07 04:54] #175 closed

[2021-07-07 06:17] #176 closed

[2021-07-07 08:16] RiyaGupta89 commented on #208
May I work on this issue?

[2021-07-07 10:38] rockingrohit9639 commented on #208
yes, you can work on it. You are given 2 days to do it.

[2021-07-07 10:43] #217 closed

[2021-07-07 11:06] rockingrohit9639 opened #221 "Fix bug in ShowProjects component for default options"
At this time when we click on any of the options present there, they do not fetch the projects. Fix this bug.

[2021-07-07 11:08] rockingrohit9639 opened #222 "Add an optional field for AddNewProject"
Add an optional field to enter the GitHub repo link when a user adds a new project and also make required changes in the backend for the same.

[2021-07-07 11:10] rockingrohit9639 opened #223 "Send email when a new project is added"
Send an email to all the registered users when a new project is added by someone. It should contain all the info about the newly added project and the user who added it.

[2021-07-07 11:12] rockingrohit9639 opened #224 "Increase projectones (points) for a user when he/she adds a new project."
Increase projectones of a user by 10 when he/she adds a new project.

[2021-07-07 14:34] naveen8801 commented on #223
@rockingrohit9639, I'd like to take it :)

[2021-07-07 15:23] rockingrohit9639 commented on #223
Go ahead

[2021-07-07 16:03] naveen8801 commented on #222
@rockingrohit9639, I'd like to work on it please assign :)

[2021-07-07 16:05] rockingrohit9639 commented on #222
Go ahead

[2021-07-07 22:08] ShwetKhatri2001 commented on #224
@rockingrohit9639 I'd like to work on this issue

[2021-07-08 02:36] #223 closed

[2021-07-08 03:19] #219 closed

[2021-07-08 03:21] rockingrohit9639 commented on #224
Go ahead

[2021-07-08 03:55] rockingrohit9639 commented on #201
@Aayushpatil77 any updates?

[2021-07-08 08:00] ShwetKhatri2001 opened #230 "Providing Badges based on user activity"
## Describe the bug/feature

- Based on user's activity like adding 10,50,100 projects, liking 100 projects, rating 50,100 projects he/she can have some badges . as user keep performing he/she will get new badges.
- All badges will be saved in database via different routes as user reach required criteria for that badge.
badges will also be updated on frontend.

@rockingrohit9639 I'd like to work o

[2021-07-08 11:58] satyampgt4 commented on #230
@ShwetKhatri2001
Go Ahead;

[2021-07-08 13:13] #224 closed

[2021-07-08 18:36] ShwetKhatri2001 opened #232 "Saving projects liked and rated by user"
**Describe  feature .**
- saving projects liked by user and projects rated by user in user profile locally and in database
- this can be used to show user whether he/she liked/rated a particular project before or not
- also solving issue will help to give user some badges based on no. of liked / rated projects
- so I want to work on this issue first before solving issue #230

@rockingrohit9639 @sa

[2021-07-08 20:35] kanak22 commented on #232
Okay :)

[2021-07-09 03:14] #216 closed

[2021-07-09 03:16] rockingrohit9639 commented on #208
@RiyaGupta89 any updates?

[2021-07-09 09:06] naveen8801 opened #236 "FEATURE - Follow a particular user"
**Describe  feature .**

I'd like to add a feature i.e following a particular user which will include:-
- endpoint on the backend to add a follower to a user
- route on the client-side to fetch a user and see his profile.
-  route on client-side to show all followers of a particular user
- making changes in DB accordingly

**Additional context**
@rockingrohit9639  @kanak22 , I'd like to work in it

[2021-07-09 09:07] kanak22 commented on #236
Go ahead

[2021-07-09 14:03] #232 closed

[2021-07-09 16:02] #222 closed

[2021-07-09 16:02] kanak22 commented on #201
@Aayushpatil77 ??

[2021-07-09 16:13] RiyaGupta89 commented on #208
@rockingrohit9639 Yes, I have my sem exams going on, I'll do it tomorrow for sure.

[2021-07-09 19:50] ShwetKhatri2001 opened #238 "Adding filter options for Liked, Rated and Added projects"
**Describe  feature .**

- User should be able to filter the projects he liked / rated / added  while searching projects for a topic

 @rockingrohit9639 I would like to work on this issue

[2021-07-10 02:09] rockingrohit9639 commented on #238
Go ahead

[2021-07-10 02:11] rockingrohit9639 commented on #208
Okay, no problem.

[2021-07-10 05:11] #208 closed

[2021-07-10 13:50] #230 closed

[2021-07-10 15:16] ShwetKhatri2001 opened #242 "Adding Badge Popup screen"
**Describe  feature .**

- We can add a popup screen which will open when user will get new badge
- Popup screen will have some details of badge and a link to profile page where he/she can find that badge added .

@rockingrohit9639 I would like to work on this issue

[2021-07-10 16:11] #238 closed

[2021-07-10 17:21] kanak22 commented on #242
Go Ahead :)

[2021-07-11 04:00] rockingrohit9639 opened #243 "Fetch profile details dynamically"
Fetch all the details of a profile dynamically using the email id or the id of the user.

[2021-07-11 05:07] rockingrohit9639 opened #244 "Remove adding the profile image when user is commenting."
**Describe Update**
Remove saving the profile image of the user when he/she comments on any project.

[2021-07-11 06:05] ShwetKhatri2001 commented on #243
I'd like to work on this issue

[2021-07-11 09:34] kanak22 commented on #243
:) okay

[2021-07-11 12:57] #242 closed

[2021-07-11 19:43] anushruti11 commented on #201
Can I work on this issue?

[2021-07-12 04:37] kanak22 commented on #201
Sure

[2021-07-12 07:46] satyampgt4 opened #247 "Add upvote Feature in comment"
**Describe  feature .**
If user find the comment helpful he/she can upvote the comment

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-12 08:41] ShwetKhatri2001 commented on #247
I'd like to work on this issue

[2021-07-13 12:59] kushal98 opened #250 "🐛 Bug : Scroll Preserve on route change"
**Describe the bug**
When a user navigates from one route to the other the browser is preserving the scroll.

**To Reproduce**

Steps to reproduce the behaviour:

1. After landing into home page, scroll down a bit.
2. Click on My Courses or any other tab.
3. The scroll gets preserved.

**Expected behaviour**
On change of the route the user should be landed on the top of the page instead of the pre

[2021-07-13 13:00] kushal98 commented on #250
Please assign this to me.

Thank you

[2021-07-13 13:07] kushal98 opened #251 "✨ Feature : Contact section not working for unregistered user"
**Describe  feature .**
The contact form should work despite the user sending request is a registered user or not.
It is not intended that any user who is not a platform user cannot ask questions.
So it should be allowed

**Additional context**

![image](https://user-images.githubusercontent.com/26721689/125456883-37db28b5-2fa2-4a15-beeb-4013f6837fc2.png)

[2021-07-13 13:14] kushal98 opened #252 "❌ Issue : Validation Missing for empty field"
**Issue**
Validation is missing for message field in case a user sends an empty message in contact section

**Expected Behaviour**
User should be given a prompt to enter some message

**Screenshot**
![image](https://user-images.githubusercontent.com/26721689/125457941-60e56cad-5d1b-4ef9-8ece-8b64dd8f96b3.png)

[2021-07-14 05:12] rockingrohit9639 commented on #251
Thanks for your feature request. We will consider it.

[2021-07-14 08:49] joshi-kaushal commented on #252
Is anyone working on this? If not, please assign it to me...

[2021-07-14 11:39] #243 closed

[2021-07-14 11:43] rockingrohit9639 commented on #252
you can work on it. Make sure you complete it in 3 days.

[2021-07-14 12:23] rockingrohit9639 opened #254 "🐛 Bug : Profile component renders authenticated user's content after few seconds"
**Describe the bug**
There is a bug in the Profile component. When someone is looking at another's profile by using id then the Profile component re-renders after few seconds.

**Expected behavior**
It should display the details of the userid provided in the URL until the user changes it.

**Screenshots**

![bug](https://user-images.githubusercontent.com/40729749/125621274-6900f6c0-6965-4524-84f4-

[2021-07-14 13:37] kushal98 opened #255 "❌ Issue : Incorrect viewport size"
**Issue**
Navigating to add a project page has some view that is not visible clearly

**Expected Behaviour**
User should be able to see the whole page clearly.

**Screenshot**
![image](https://user-images.githubusercontent.com/26721689/125631480-7c39f05e-f1a5-4db7-b54f-46dd13b1d01b.png)

[2021-07-14 19:00] ShwetKhatri2001 commented on #254
I'd like to work on this issue

[2021-07-15 01:02] rockingrohit9639 commented on #254
You can start working on it. Make sure you complete it in 4 days.

[2021-07-15 01:34] rockingrohit9639 opened #257 "✨ Feature : Add "press space to focus" in ShowProjects search component"
**Describe  feature .**
Add a feature "press space to focus" in ShowProjects's search component.
Whenever a user press the "space" key, it should focus on the input box.

Also change the placeholder of the input box like the below image -
![image](https://user-images.githubusercontent.com/40729749/125714000-636758bc-d768-45b3-9430-72b3ed54de7f.png)

[2021-07-15 06:32] rockingrohit9639 opened #258 "Add id to the added project with name"
**Describe  feature .**
For now, when a user adds a new project only the name of that project is added to his/her profile. So, sad the id of the project in the database too. And when a user clicks on the name of the project on his/her profile it should show the details of that project.

[2021-07-15 14:58] kushal98 opened #259 "🐛 Bug : Like functionality not working as expected"
**Describe the bug**
When clicking on the like button it likes but again clicking on it should ideally unlike which is not happening

**Expected behaviour**
The click on like button should be a toggle kind of functionality it should perform both like as well as unlike.

**Screenshots**
![image](https://user-images.githubusercontent.com/26721689/125809791-03e9aa65-5044-45ee-86da-8d0330864b49.png)

[2021-07-15 17:27] #201 closed

[2021-07-16 05:17] rockingrohit9639 commented on #259
it is not implemented yet. you can only like a project for now.

[2021-07-16 12:05] #247 closed

[2021-07-16 12:59] rockingrohit9639 opened #260 "🐛 Bug : Comment feature is not working expectedly"
**Describe the bug**
The comment feature is not working expectedly. Sometimes it adds the comment sometimes it does not, and sometimes the comment is added in the database but not on the frontend.

[2021-07-16 13:01] rockingrohit9639 commented on #236
@naveen8801 any updates on this?

[2021-07-16 13:44] kushal98 opened #262 "🐛 Bug : Incorrect redirection after successful login"
**Describe the bug**
After doing a successful login into the application, it redirects to the /callback path and gets stuck.

**Expected behaviour**
After the successful login, the application should redirect to the home page.

**Screenshots**
![image](https://user-images.githubusercontent.com/26721689/125957498-6f9c7a90-430d-48f7-9561-a4bf1d44a783.png)

![image](https://user-images.githubusercont

[2021-07-16 15:03] ShwetKhatri2001 commented on #258
I'd like to work on this issue

[2021-07-17 09:28] #250 closed

[2021-07-17 12:50] rockingrohit9639 commented on #262
It was working fine when I did it last time. I will check it and will get back to you.

[2021-07-17 12:56] #254 closed

[2021-07-18 08:06] ShwetKhatri2001 commented on #244
I'd like to work on this issue

[2021-07-18 11:12] rockingrohit9639 commented on #244
You can start working on it.  You are given 4 days to complete it.

[2021-07-18 11:13] #258 closed

[2021-07-19 12:26] ShwetKhatri2001 commented on #260
I'd like to work on this issue .

[2021-07-19 18:23] kushal98 opened #266 "❌ Issue : No Fallback UI for 0 search results on projects"
**Description**
In case after search if we don't have any search results a fallback UI should show no results but now I see it keeps showing that "Searching projects for _topic_".

**Expected Result**
It should show a fallback UI with some graphics + text static no matching result found.

**Screenshot**
![image](https://user-images.githubusercontent.com/26721689/126207988-5cc7b421-9bfc-4cd5-9389-c

[2021-07-20 05:05] rockingrohit9639 commented on #260
You can start working on this issue. You are given 4 days to complete it.

[2021-07-20 05:05] rockingrohit9639 commented on #252
@kushal98 are you working on it?

[2021-07-20 07:18] kushal98 commented on #252
@rockingrohit9639  It was assigned to @joshi-kaushal so i did not start. Maybe I can do it please assign this to me.

[2021-07-21 03:19] rockingrohit9639 commented on #252
Oh sorry, I thought I assigned you this. You can start working on it. You are given 3 days to complete it .

[2021-07-21 03:51] #244 closed

[2021-07-21 06:12] ShwetKhatri2001 commented on #257
I'd like to work on this issue

[2021-07-21 06:38] joshi-kaushal commented on #252
Sorry, I had some problems at my side so I couldn't complete it within time.

[2021-07-21 09:41] rockingrohit9639 commented on #257
you can start working on it.

[2021-07-21 13:28] ShwetKhatri2001 commented on #236
I'd like to work on this issue

[2021-07-21 13:36] kanak22 commented on #236
Go ahead :)

[2021-07-21 14:03] #257 closed

[2021-07-22 07:08] rockingrohit9639 commented on #266
It will be assigned to you when you completes your other issue.

[2021-07-22 07:13] rockingrohit9639 opened #268 "❌ Issue : Fix pagination count on ShowProjects components."
**Describe the bug**
When a user searches for the projects, the pagination count is more than projects i.e When we click on some pagination count it does not show anything.

**Expected behavior**
There should only be the pagination number in which there are some projects. It should not show the count on which there are no projects. See the screenshot below to see the issue.

**Screenshots**
![imag

[2021-07-22 07:18] #260 closed

[2021-07-22 08:22] ShwetKhatri2001 commented on #221
I'd like to work on this issue

[2021-07-22 15:17] rockingrohit9639 commented on #221
You can work on it.

[2021-07-23 18:02] kushal98 commented on #252
Hey,
Seems there are some other issues on this as well. Please have a look into the below screenshot
Even after adding everything it gives the message not sure what is expected out here?

@rockingrohit9639 can you provide more details on what is expected?

![image](https://user-images.githubusercontent.com/26721689/126822814-fcb36f2a-6888-4ed5-9b57-776e3238dc25.png)

[2021-07-23 18:28] kushal98 opened #270 "✨ Enhancement : Fallback UI for featured projects if empty"
**Describe  feature .**
Some UI can be shown in case we do not have anything listed on any of the subsection of featured projects in home page.(look into the best android project thing in below screenshot)

**Screenshots**
![image](https://user-images.githubusercontent.com/26721689/126825587-ee282161-ed9d-4b5d-8e33-23481b9e3e1b.png)

[2021-07-24 01:58] #221 closed

[2021-07-24 02:01] rockingrohit9639 commented on #252
There must be a function to check it, please look for it if you can find it.

[2021-07-24 02:02] rockingrohit9639 commented on #270
i will check it.

[2021-07-24 02:56] rockingrohit9639 opened #271 "✨ Feature : Add "Added by - <Name of user who added the project>" in a Project"
**Describe  feature .**
Add an "Added by - <Name>" section in a project both on frontend and backend.
Where <Name> should be the name of the user who added the project. Default added by name should be `Project Zone`

[2021-07-24 03:18] rockingrohit9639 opened #272 "✨ Feature: Make project description textarea a rich text editor"
**Describe  feature .**

Make the description field rich text editor or a WYSIWYG editor. See the image below for reference.

![image](https://user-images.githubusercontent.com/40729749/126855728-da1b4df0-52b2-4f00-83aa-5bbd7ee8c546.png)

### Description textarea should look like this -
![image](https://user-images.githubusercontent.com/40729749/126855921-8aea024d-d0a6-41cb-ad12-5d6942293e22.png)

[2021-07-24 23:04] ShwetKhatri2001 commented on #271
I'd like to work on this issue

[2021-07-24 23:39] rockingrohit9639 commented on #271
You can start working on it.

[2021-07-25 19:28] ShwetKhatri2001 commented on #272
I'd like to work on this issue

[2021-07-26 02:30] #236 closed

[2021-07-26 02:31] rockingrohit9639 commented on #272
Okay, I will assign you once you complete the other issue.

[2021-07-27 04:01] rockingrohit9639 commented on #272
Hi @ShwetKhatri2001, I have assigned you this issue.

[2021-07-27 04:27] #271 closed

[2021-07-27 04:29] rockingrohit9639 commented on #252
@kushal98 are you working on it?

[2021-07-27 04:45] kushal98 commented on #252
@rockingrohit9639 the complete requirements is not clear to me like its behaviour with and without login.

[2021-07-27 05:49] rockingrohit9639 commented on #252
For now, it is set in a way that only an authenticated user can send the form.

[2021-07-28 18:01] ShwetKhatri2001 commented on #268
I'd like to work on this issue

[2021-07-29 04:10] rockingrohit9639 commented on #268
go ahead

[2021-07-29 06:55] #272 closed

[2021-07-30 05:21] rockingrohit9639 opened #276 "Show options while entering somethig in SearchBox"
**Describe  feature .**
Show options when a user enters something in search-box on ShowProject component. Check image below -
Also instead of searching $regex in the database, search for the exact match.

* Reach out to me, I will explain more if you have any doubt.
![image](https://user-images.githubusercontent.com/40729749/127604435-36e6f145-001d-46a1-86db-ec6d49dd6fce.png)

[2021-07-30 05:31] rockingrohit9639 opened #277 "Add an option to fine the project by skill or name"
**Describe  feature .**
### Frontend
- Show dropdown to choose to find by name of skill (refer to the image below)

### Backend
- Search for the projects based on the option selected. If skill is selected then search project my skills and if the name is selected then search the projects on the basis of name

**Screenshot**
![image](https://user-images.githubusercontent.com/40729749/127605363-99e08

[2021-07-30 05:33] rockingrohit9639 opened #278 "Cannot enter a space in searchbox"
**Describe the bug**
Change something so that space can be entered in the search box or map the "enter space" key with some other key.

[2021-07-30 05:52] #252 closed

[2021-07-31 18:45] ShwetKhatri2001 commented on #276
I'd like to work on this issue

[2021-08-01 05:23] #268 closed

[2021-08-01 05:23] rockingrohit9639 commented on #276
you can start working on it.

[2021-08-02 05:45] ShwetKhatri2001 commented on #278
I'd like to work on this issue

[2021-08-02 05:56] rockingrohit9639 commented on #278
you can start working on it

[2021-08-02 06:20] #276 closed

[2021-08-04 08:42] ShwetKhatri2001 commented on #277
I'd like to work on this issue.

[2021-08-04 08:46] ShwetKhatri2001 commented on #262
We can show a loading saying 'Google is logging you in, please wait'
I'd like to work on this issue.

[2021-08-05 03:14] rockingrohit9639 commented on #277
You can start working on it.

[2021-08-05 18:38] #278 closed

[2021-08-09 05:01] rockingrohit9639 commented on #277
@ShwetKhatri2001 are you working on this one, bro?

[2021-08-09 05:09] rockingrohit9639 opened #283 "Replace all the preview screenshots"
**Describe Update**
Replace all the preview screenshots with a single GIF image showing all the features.

[2021-08-09 06:25] ShwetKhatri2001 commented on #277
Yes, I will complete it by today

[2021-08-09 11:40] cvsschaitanya commented on #283
May I take up this issue?

[2021-08-09 11:50] cvsschaitanya commented on #283
Also one of the screenshots, specifically, the fifth one, is not in the ReadMe file. Is this by design?

[2021-08-09 12:04] rockingrohit9639 commented on #283
yeah sure.

Leave all the existing issues, create a single GIF showing all the pages of the project.

[2021-08-09 12:43] cvsschaitanya commented on #283
When you say GIF showing all the pages, should I make a GIF with the existing screenshots or I have to create something new?

[2021-08-09 12:50] #283 closed

[2021-08-10 11:05] #277 closed

[2021-08-10 11:49] #270 closed

[2021-08-10 11:49] #266 closed

[2021-08-10 11:51] rockingrohit9639 commented on #262
Hey @ShwetKhatri2001 can you do this now?

[2021-08-10 11:55] #255 closed

[2021-08-10 11:55] #259 closed

[2021-08-10 14:42] ShwetKhatri2001 commented on #262
Sure

[2021-10-23 09:41] kamal-kaur04 commented on #262
Hi @rockingrohit9639 , Can I take up this issue if this is not resolved yet? Thanks.

[2021-10-23 10:05] rockingrohit9639 commented on #262
Yeah sure @kamal-kaur04

[2021-10-27 12:12] kamal-kaur04 commented on #262
Hi @rockingrohit9639, I am getting this error while running `npm install` in the /server directory. Any Idea, why?

![image](https://user-images.githubusercontent.com/38219887/139063115-7500e878-4518-4229-adb8-439bce379117.png)

[2022-05-11 05:03] #262 closed

[2022-05-11 05:04] #251 closed

[2022-05-11 05:04] #115 closed